/* fonts import */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Aileron-Regular.woff') format('woff');
}


@font-face {
  font-family: 'AvenirBold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Aileron-Bold.woff') format('woff');
}

@font-face {
  font-family: 'AvenirDemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/AvenirNext-DemiBold.woff') format('woff');
}

body {
  font-family: 'Avenir';

}
header {
  font-family: 'AvenirBold';
}

header#top nav > ul > li > a {
  font-size: 17px;
}

#header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a {
  margin-right: 50px;
  margin-left: 0;
  color: black;
}

#header-outer[data-lhe="animated_underline"] header#top nav > ul > li:last-child > a{
  margin-right: 0;
}

#header-outer[data-lhe="animated_underline"] header#top nav > ul > li {
  vertical-align: bottom;
}

header#top nav > ul > li > a {
  padding-top: 82px !important;
  padding-bottom: 0 !important;
}

#header-outer {
  padding-top: 20px !important;
  height: 135px;
}

header .col.span_9.col_last {
  padding-left: 0 !important;
  padding-right: 0 !important;
}



/* -----------------------------------------custom styling----------------------------------------------------------- */

@image-text-size: 22px;
@bold-font: 'AvenirBold';
@default-pink: #f27184;

/* full size input */
.full-size-input {
  width: 100%;
  margin: 0;
}

/* input icon styling */
.input-icon(@icon, @color, @font-size){
  font-family: FontAwesome;
  content: @icon;
  font-size: @font-size;
  position: absolute;
  color: @color;
}

/* mobile version */
.mobile(@rules) {
  @media (max-width: 768px) { @rules(); }
}

/* large screen version */
.large(@rules){
  @media (max-width: 1750px) { @rules(); }
}

/* medium screen version */
.medium (@rules){
  @media (max-width: 1470px) { @rules(); }
}

/* small screen version */
.small (@rules){
  @media (max-width: 1230px) { @rules(); }
}

.media(@size, @rules) {
  @media (max-width: @size) {
    @rules();
  }
}

/* title block style */
.box-title-wrap {
  padding-bottom: 7px !important;
  font-size: @image-text-size;
  margin-bottom: 12px !important;
  .medium({
    font-size: 18px;
    margin-bottom: 26px !important;
  });
  .media(479px, {padding-left: 15px; padding-right: 15px;});
  color: black;
  border-bottom: 2px solid @default-pink;

  .box-title {
    padding-bottom: 14px;
    p {
      display: inline-block;
      float: left;
      padding-bottom: 0 !important;
      .medium({
        padding-bottom: 0 !important;
      });
    }
  }

  .see-more {
    float: right;
    width: auto;
    span {
      color: grey;
      margin-right: 10px;
    }
    img {
      margin-bottom: -7px !important;
      .medium({
        height: 25px;
      });
    }
  }
}

/*style to images text*/
.image-text-styles() {
  font-size: @image-text-size;
  line-height: 38px;
  max-width: 1035px;
}
.medium-image-text-styles() {
  font-size: 20px;
}
/* make blocks float right */
.image-right-block() {
  width: 100%;
  float: right;
}

/* background image for selects */
.select-background(@url) {
  background-image: url(@url);
  background-position: 95% center;
  background-repeat: no-repeat;
}
/* box heading */
.box-heading() {
  font-size: 42px;
}
.medium-box-heading() {
  font-size: 44px;
}

.placeholder() {
  font-size: 22px !important;
  /*color: #7a7979;*/
  color: black;
  font-family: Avenir;
}
.medium-placeholder() {
  font-size: 18px !important;
}

/* first background block */
#background-box-1 {
  //height: 645px;
  .wpb_text_column {
    margin-bottom: 20px;
  }
  div {
    display: block;
  }
  p {
    padding-bottom: 0;
    .media(768px, {
      text-align: center !important;
    });
    .media(479px, {
      padding: 0 15px !important;
    });

  }
  .vc_column-inner {
    max-width: 50%;
    float: right;
    .media(1230px, {
      max-width: 78%;
    });
    .media(768px, {
      max-width: 100%;
    });
  }
  .heading {
    .box-heading;
    .medium({
      .medium-box-heading;
      line-height: 1.1;
    });
    .media(768px, {
      font-size: 29px;
    });
  }

  .sub-heading {
    font-size: 28px;
    margin-bottom: 25px;
    .medium({
      font-size: 26px;
      margin-bottom: 25px;
    });
    .media(768px, {
      font-size: 21px;
    });
    .media(479px, {
      font-size: 20px;
    });
  }
  .text {
    .image-text-styles;
    //.image-right-block;
    margin-bottom: 38px;
    .medium({
      .medium-image-text-styles;
      margin-bottom: 32px;
    });
    .media(992px, {
      font-size: 17px;
      line-height: 1.5;
      margin-bottom: 11px;
    });
    .media(479px, {
      font-size: 16px;
    });
  }

  .sub-ending {
    .image-text-styles;
    //.image-right-block;
    margin-bottom: 30px;
    .medium({
      .medium-image-text-styles;
      margin-bottom: 28px;
    });

    .media(992px, {
      font-size: 21px;
      margin-bottom: 5px;
    });

  }

  .ending {
    //.image-right-block;
    .image-text-styles;
    margin-bottom: 0;
    .medium({
      .medium-image-text-styles;
    });
    .media(992px, {
      font-size: 17px;
      line-height: 1.5;
      margin-bottom: 11px;
    });

  }
}

#estimation {
  //margin-top: 20px;
  .media(768px, {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  });
  .media(479px, {
    width: 100% !important;
    padding: 60px 15px !important;
    margin-left: 0 !IMPORTANT;
    box-sizing: border-box !important;
  });
  .wpb_text_column {
    margin-bottom: 20px;
  }
  div {
    display: block;
  }
  p {
    padding-bottom: 0;
  }



  .heading {
    .box-heading;
    .medium({
      .medium-box-heading;
    });


    .media(1000px, {
      line-height: 1.2;
      font-size: 35px;
    });
    .media(479px, {
      font-size: 30px;
    });
  }

  .text {
    .image-text-styles;
    max-width: 100%;
    margin-bottom: 0;
    .medium({
      .medium-image-text-styles;
      margin-bottom: 32px;
    });
    .media(1000px, {
      line-height: 1.3;
    });
  }
}

/* box with 3 info columns */
#info-columns {
  padding-top: 40px !important;
  .info-column {
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 160px !important;
    font-family: @bold-font;
    .media(1700px, {
      padding-top: 172px !important;
    });
    .media(1470px, {
      background-size: 50%;
    });

    &:first-child{
      .media(1470px, {
        background-size: 41%;
      });
      .media(1000px, {
        background-size: auto;
      });
    }
    &:nth-child(2){
      .media(1470px, {
        background-size: 47%;
      });
      .media(1000px, {
        background-size: auto;
      });
    }

    .media(1230px, {
      padding-top: 142px !important;
    });

    .media(1000px, {
      background-size: auto;
      padding-top: 182px !important;
      background-position: top center;
      margin-bottom: 35px;
    });


    .column-title {
      font-size: 22px;
      margin-bottom: 26px;
      .medium({
        font-size: 18px;
      });
    }

    .column-text {
      font-size: 17px;
      margin-bottom: 25px;
      .medium({
        font-size: 16px;
        margin-bottom: 6px;
      });

    }
  }
}

/* block with conference people */
#conference-image {
  margin-bottom: 20px;
  .heading {
    .box-heading;
    margin-bottom: 40px;
    .medium({
      .medium-box-heading;
      margin-bottom: 45px;
    });

    .media(1000px, {
      line-height: 1.2;
      margin-bottom: 17px;
    });

  }

  .text {
    .image-text-styles;
    .medium({
      .medium-image-text-styles;
    });
    .media(1000px, {
      font-size: 17px;
      line-height: 1.5;
    });
  }


  .media(1470px, {
    padding-top: 200px !important;
  });

  @media (max-width: 1470px) and (min-width: 1231px){
    margin-bottom: 25px;
    padding: 300px 168px 80px !important;
  }

  @media (max-width: 1230px) and (min-width: 1065px){
    padding-right: 197px !important;
  }

  .media(479px, {
    padding: 50px 20px 20px 20px !important;
    padding-top: 50px !important;
    box-sizing: border-box !important;
    margin-left: 0 !important;
    width: 100% !important;
  });

}


#team {
  .media(479px,{
    margin-left: 0 !important;
    width: 100% !important;
  });
  .col.span_12.dark.left{
    .media(1000px,{ text-align: center; });
  }
  .img-with-aniamtion-wrap {

    .inner {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        background: rgba(63, 63, 63, 0.25);
      }

    }

  }


  .col.span_12{
    .media(479px,{
      padding: 0px;
    });
  }

  .vc_col-sm-12.wpb_column{
    .media(660px,{
      margin-bottom: 20px !important;
    });
  }
  .team-column {
    margin: 0;
    width: 33%;
    margin-top: -65px;
    height: 100% !important;
    .media(1000px,{
      width: 166px !important;
      display: inline-block;
      float: none;
      margin-top: -58px;
      vertical-align: top;
    });

    .media(660px,{
      margin-top: 2px !important;
      width: 100% !important;

      .wpb_wrapper{
        display: table;
        width: 94%;
        border-collapse: separate;
        border-spacing: 2px;
        margin-left: auto;
        margin-right: auto;
        .wpb_content_element{
          display: table-cell;
          vertical-align: middle;
          padding: 7px;
          border: 1px solid #f27184;
          &:first-child{
            background: #f27184 ;
            width: 38%;
          }

        }
      }

    });






  }

  .member-name {
    width: 330px;
    height: 65px;
    margin: 0 auto;
    font-size: 28px;
    color: white;
    padding-top: 25px;
    background-color: @default-pink;
    .medium ({
      width: 325px;
      font-size: 28px;
    });
    .media(1230px, {
      width: 284px;
    });
    .media(1000px,{
      width: auto;
      padding-top: 20px;
      height: 58px;
    });
    .media(660px,{
      padding-top: 0;
      height: auto;
      background-color: transparent;
      font-size: 18px;
    });
  }

  .member-info {
    padding-top: 35px;
    font-size: 20px;
    color: black;
    .media(1000px,{
      padding-top: 13px;
      font-size: 17px;
      padding-left: 5px;
      padding-right: 5px;
    });
  }
  margin-bottom: 60px;
}


/* contact form */
.contact-form {
  float: right;
  height: 100%;

  .form {
    padding: 40px 55px 10px 40px;
    .medium({
      padding: 30px 37.5px 15px 30px;
    });

    background-color: @default-pink;
    position: relative;
    .control {
      width: 500px;
      .medium({
        width: 470px;
      });
      .media(1000px, {width: 410px});
      .media(767px, {width: 100%});
      margin-bottom: 30px;
      input {
        background: white;
        background-color: white !important;
        border: none !important;
        width: 100%;
        padding: 20px 15px !important;
        .medium({
          padding: 15px 10px !important;
        });
        .placeholder;
        font-size: 20px !important;
        .medium({
          .medium-placeholder;
        });
        .media(479px, {
          font-size: 15px !important;
        });
      }

      input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        .placeholder;
        font-size: 20px !important;
        .medium({
          .medium-placeholder;
        });
        .media(479px, {
          font-size: 15px !important;
        });

      }
      input::-moz-placeholder { /* Firefox 19+ */
        .placeholder;
        font-size: 20px !important;
        .medium({
          .medium-placeholder;
        });
        .media(479px, {
          font-size: 15px !important;
        });
      }
      input:-ms-input-placeholder { /* IE 10+ */
        .placeholder;
        font-size: 20px !important;
        .medium({
          .medium-placeholder;
        });
        .media(479px, {
          font-size: 15px !important;
        });
      }
      input:-moz-placeholder { /* Firefox 18- */
        .placeholder;
        font-size: 20px !important;
        .medium({
          .medium-placeholder;
        });
        .media(479px, {
          font-size: 15px !important;
        });
      }
    }

    .error-block {
      color: white;
      font-size: 25px;
      max-width: 500px;
      margin-top: -15px;
      line-height: 1.3;
      margin-bottom: 10px;
      .media(1000px, {
        font-size: 20px !important;
      });
      .media(767px, {
        font-size: 15px !important;
      });
    }

    margin-bottom: 25px;
  }

  .submit-button {
    button {
      height: 70px;
      width: 100%;
      font-size: 23px;
      background-color: @default-pink;
      .medium({
        height: 70px;
        font-size: 22px;
      });
      &hover {
        background: @default-pink !important;
      }
    }
  }


}

/* map styling */
#map {
  .media(479px,{
    margin-left: 0 !important;
    width: 100% !important;
  });


  .nectar-google-map {
    height: 620px !important;
    .medium({
      height: 565px !important;
    });
  }
  margin-bottom: 26px;
  #map-top-block {
    position: absolute;
    top: 0;
    right: 140px;
    display: block;
    background: white;
    z-index: 2;
    padding: 20px 94px 5px 90px !important;
    .medium({
      padding: 30px 65px 15px 65px !important;
    });
    .media(1230px,{ width: 320px; });
    .media(1000px,{ padding: 20px 63px 10px 65px !important; right: 85px;});
    .media(767px,{ width: 278px; padding: 25px 30px 10px 30px !important;});
    .media(690px,{
      position: static;
      margin-bottom: 25px !important;
      width: 50% !important; float: left;
    });
    .media(479px,{
      width: 100% !important;
      margin-bottom: 5px !important;
      background: #f27184;
      *{
        color: #fff !important;
      }
    });
    .text-column {
      p {
        padding: 0;
        font-size: @image-text-size;
        margin-bottom: 10px;
        color: black;
        @media (max-width: 1230px){
          font-size: 19px;
        }
        @media (max-width: 1000px){
          margin-bottom: 2px;
        }
        .media(767px, {
          font-size: 17px;
        });
      }
      margin-bottom: 20px;
      .medium({
        margin-bottom: 12px;
      })
    }
  }
  .map-marker-list {
    margin: 0;
  }
  #map-bottom-block {
    position: absolute;
    bottom: 0;
    right: 140px;
    display: block;
    background: white;
    z-index: 2;
    padding: 60px 63px 0 63px !important;
    .medium({
      padding: 30px 34.5px 0 34.5px !important;
    });
    .media(1230px,{ width: 320px; });
    .media(1000px,{ padding: 19px 20.5px 0 20.5px !important;     right: 85px;});
    .media(767px,{ width: 278px; padding: 25px 30px 10px 30px !important;});
    .media(690px,{
      position: static;
      margin-bottom: 25px !important;
      width: 50% !important;
      float: right;
    });
    .media(479px,{ width: 100% !important; });
    color: black;

    .row-bg-wrap:after{
      .media(660px,{
        border-top: 1px solid #f27184;
        border-bottom: 1px solid #f27184;

      });
    }


    .telephone {
      font-size: @image-text-size !important;
      p {
        padding: 0;
        margin-bottom: 40px;
        font-size: @image-text-size !important;
        .medium({
          margin-bottom: 15px;
        });
        .media(1000px,{ margin-bottom: 6px;     font-size: 19px !important;});
        .media(767px, {
          font-size: 17px !important;
        });

      }
    }

    .address {
      p {
        padding: 0;
        margin-bottom: 15px;
        font-size: @image-text-size !important;
        .media(1230px, {
          font-size: 19px !important;
        });
        .media(767px, {
          font-size: 17px !important;
        });
      }
      font-size: @image-text-size !important;
      margin-bottom: 50px;
      .medium({
        margin-bottom: 20px;
      });

    }

  }
}


.cover {
  position: relative;
  .wrapper {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 11111;
  }

  #map.single-page {
    margin-left: 0 !important;
    margin-bottom: 20px !important;
    .medium({
      height: 420px !important;
      margin-bottom: 15px !important;
    });
  }
}



#house{
  .media(479px, {
    //padding: 0 20px 0 0 !important;
    //margin-left: 0 !important;
  });
  .contact-form .contact-form{
    @media (max-width: 991px) and (min-width: 930px){
      position: relative;
      right: -50px;
    }
  }
  .contact-form{
    .media(767px, {
      float: none;
    });
  }
}

/* posts styling */
.posts-row {
  color: black;
  text-align: justify;

  a {
    color: black !important;
  }

  .post-wrap {
    display: inline-block;
    width: 31.8%;
    margin-left: 2%;
    .medium({
      width: 31.5%;
    });
    .small({
      margin-left: 2%;
    });


    .media(768px, {
      width: 100%;
      padding: 0 20%;
      margin-right: 0;
      margin-left: 0 !important;
      margin-bottom: 30px;
    });

    .media(500px, { padding: 0 10%;});



    cursor: pointer;
    transition: 0.5s;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    &:hover {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }
    .top-box{
      a {
        img {
          width: 100%;
          .medium({
            margin-bottom: 0px;
          });
        }
      }
    }
    .bottom-box {
      .name {
        font-size: 20px;
        .medium({
          font-size: 16px;
        });
      }

      .price {
        font-size: 34px;
        margin-top: 20px;
        .medium({
          font-size: 30px;
          margin-top: 10px;
        });
        .media(479px, {
          font-size: 25px;
        });
      }
    }
  }

  .post-wrap:first-child {
    margin-left: 0;
  }

}

/* search box styling */
.search-wrap-style() {
  font-family: Avenir;
  margin-top: 140px;
  .media(992px, {
    margin-top: 86px;
  });
  .media(768px, {
    margin-top: 45px;
  });
  .media(479px, {
    padding: 0 15px;
  });

  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }
  input::-moz-placeholder { /* Firefox 19+ */
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }
  input:-ms-input-placeholder { /* IE 10+ */
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }
  input:-moz-placeholder { /* Firefox 18- */
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }
  .top-box-wrap {
    margin-bottom: 15px;

    .bottom-box {
      width: 28%;
      display: inline-block;
      .media(992px, {
        width: 38%;
      });
      .media(768px, {
        width: 100%;
      });
      select {
        .placeholder;
        .medium({
          .medium-placeholder;
        });
        .select-background('../images/icons/Arrow1-big.png');
      }
    }

    .top-box {
      margin-right: 1.6%;
      position: relative;
      display: inline-block;
      width: 70%;
      .media(992px, {
        width: 60%;
      });
      .media(768px, {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      });
      &:before {
        .input-icon("\f002", @default-pink, 26px);
        right: 25px;
        top: 15px;
        .medium({
          top: 10px;
          right: 10px;
        })
      }
      input {
        padding: 12px 30px !important;
        background-color: white !important;
        border: none !important;
        .placeholder;
        .medium({
          .medium-placeholder;
        });
      }
    }
  }


  .search-button.hidden-search-button {
    width: 10%;
    .media(1230px, {
      width: 15%;
    });
    .media(992px, {
      width: 18%;
    });
    .media(768px, {
      width:42%;
      margin-top: 15px;
      margin-left: auto !important;
      margin-right: auto !important;
      display: block;
    });
    button{
      text-transform: lowercase;
      padding: 10px !important;
    }
  }
  .bottom-box {
    input, select,option, div {
      display: inline-block;
      width: 100%;
    }
    .jq-selectbox__trigger-arrow {
      width: auto;
    }
    select {
      padding: 10px 30px 10px 28px !important;
      .small({
        padding: 10px 30px 10px 28px !important;
      });

    }
    .search-button {
      width: 13%;
      .large({
        width: 13%;
      });
      .small({
        width: 15%;
      });
      .media(768px, {
        width: 42%;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
      });
    }

    .post-type {
      width: 24%;

      .small({
        width: 45%;
      });

      position: relative;
      select {
        .placeholder;
        .medium({
          .medium-placeholder;
        });
        .select-background('../images/icons/Arrow1-big.png');
      }
      //&:before {
      //  .input-icon("\f0d7", @default-pink, 30px);
      //  top: 20px;
      //  right: 0;
      //  width: 35px;
      //  background: white;
      //  .medium({
      //    top: 15px;
      //  });
      //}


      .mobile({
        .full-size-input;
      });
      margin-right: 4.9%;
      .small({
        margin-right: 9.7%;
        margin-bottom: 15px;
      });
      .media(992px, {
        margin-right: 9.6%;
      });
    }

    .number-of-bedrooms {
      width: 24%;
      .small({
        width: 45%;
      });

      position: relative;

      //&:before {
      //  .input-icon("\f107", @default-pink, 30px);
      //  top: 20px;
      //  right: 0;
      //  width: 35px;
      //  background: white;
      //  .medium({
      //    top: 15px;
      //  });
      //}

      select {
        .placeholder;
        .medium({
          .medium-placeholder;
        });

        .select-background('../images/icons/Arrow1-big.png');
      }

      .mobile({
        .full-size-input;
      });
      margin-right: 4.9%;
      .large({
        margin-right: 4.8%;
      });
      .medium({
        margin-right: 4.7%;
      });

      .small({
        margin-right: 0;
        margin-bottom: 15px;
      });
    }

    .budget {
      width: 24%;
      .small({
        width: 45%;
      });
      input {
        .placeholder;
        .medium({
          .medium-placeholder;
        });
        border: none !important;
        background-color: white !important;
        padding: 10px 25px 10px 30px !important;
      }
      .mobile({
        .full-size-input;
      });
      margin-right: 4.6%;
      .small({
        margin-right: 24.7%;
      });
    }
    .price-block {
      width: 24%;
      margin-right: 4.6%;
      .mobile({
        .full-size-input;
      });
      .media(1230px, {
        width: 79%;
        margin-left: 10px;
      });
      .media(992px, {
        width: 78.6%;
        margin-left: 10px;
      });
      .media(768px, {
        width: 96.6%;
        margin-left: 10px;
      });
      .media(479px, {
        width: 95.6%;
      });
      .price-slider {
        width: 100%;
        float: right;
        //color: white;
        .price-range {
          width: 100%;
          border: none;
          box-shadow: none;
          background: #9d9e9f;
          height: 1px;
          .ui-slider-range {
            background: @default-pink;
            height: 300%;
          }
          .ui-slider-handle {
            top: -6px;
            border-radius: 50%;
            border: 1px solid @default-pink;
          }
          .ui-state-active {
            background: @default-pink;
          }
        }

        .price-display {
          width: 100%;
          font-size: 13px;
          #min_price_display {
            float: left;
          }
          #max_price_display {
            float: right;
          }
        }
      }
      .inputs {
        width: 0 !important;
      }
      .label {
        .placeholder;
        .medium({
          .medium-placeholder;
        });
      }

    }

  }

  .search-button {
    margin-top: 10px;
    width: 13%;

    .small({
      width: 30%;
    });
    button {
      .placeholder;
      .medium({
        .medium-placeholder;
      });
      cursor: pointer;
      border: none;
      width: 100%;
      color: white;
      background: @default-pink;
      padding: 13px !important;
      .medium({
        padding: 12px !important;
      })
    }
    .mobile({
      .full-size-input;
    })
  }

  .hidden-fields {
    .hidden-selects {
      width: 19%;
      display: inline-block;
      margin-right: 1%;
      select {
        padding: 12px 30px 12px 28px !important;
        .placeholder;
        .medium({
          .medium-placeholder;
        });
        .select-background('../images/icons/Arrow1-big.png');
      }

    }

    .hidden-input {
      width: 19%;
      display: inline-block;

      input {
        .placeholder;
        .medium({
          .medium-placeholder;
        });
        padding: 12px 30px 12px 28px !important;
        border: none !important;
        background: white;
        background-color: white !important;
      }
    }
  }
}
#search-box {
  height: 530px;
  .medium({
    height: 480px;
  });
  margin-bottom: 15px;
  .search-wrap {
    .search-wrap-style;
  }
}

/* header outer */
#header-outer ul.sub-menu {
  top: 116px !important;
  left: -10px !important;
}
#header-outer.header-scroll {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  height: 115px !important;
  ul.sub-menu {
    top: 97px !important;
  }

  .span_3 {
    left: 0 !important;
  }
  .menu-item-with-margin {
    margin: 0 !important;
  }
  .container {
    .row {
      nav {
        .sf-menu.sf-js-enabled.sf-arrows {
          text-align: center !important;
        }
        ul:not(.sub-menu) > li > a{
          margin-right: 85px !important;
        }
      }
    }
  }

  #logo img{
    height: 80px !important;
    transform: none !important;
    -webkit-transform: none !important;
  }

  #logo {
    overflow: hidden;
    width: 110px;
  }

  ul:not(.sub-menu) > li.menu-item > a {
    padding-top: 65px !important;
  }


}

/* search box on search page */
#search-box-1 {
  height: 470px;
  margin-bottom: 25px;
  .medium({
    margin-bottom: 30px;
  });
  padding-top: 10px !important;
  .search-wrap {
    .search-wrap-style;
    .medium({
      margin-top: 130px;
    });

    .bottom-box {
      .price-block {
        color: white;
        .label {
          color: white;
        }
      }
    }
  }
}

/* advanced search */
#advanced-search {

  .hidden-search-button.submit-button {
    button{
      color: white !important;
      border: none;
      box-shadow: none;
      text-transform: lowercase;
      padding: 8px !important;
      cursor: pointer;
    }
  }
  padding-top: 25px !important;
  //margin-top: 105px;
  //margin-bottom: 120px;
  //.medium({
  //  margin-top: 50px;
  //  margin-bottom: 20px;
  //});
  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }
  input::-moz-placeholder { /* Firefox 19+ */
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }
  input:-ms-input-placeholder { /* IE 10+ */
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }
  input:-moz-placeholder { /* Firefox 18- */
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }

  select, input {
    border: 2px solid #fbd4da !important;
    box-shadow: none !important;
    padding: 5px 10px 5px 10px !important;
    .placeholder;
    .medium({
      padding: 4px 10px 4px 10px !important;
      .medium-placeholder;
    })
  }
  .top-box {
    margin-bottom: 35px;
    div {
      display: inline-block;
    }

    .location {
      width: 75%;
      margin-right: 4.7%;
      .medium({
        width: 77%;
        margin-right: 2.7%;
      });
      position: relative;

      input {
        padding: 5px 30px 5px 12px !important;
        .medium({
          padding: 6px 30px 6px 12px !important;
        })
      }
      &:before {
        .input-icon("\f002",@default-pink, 26px);
        right: 15px;
        top: 9px;
        .medium({
          top: 7px;
        });
      }
    }

    .bathrooms {
      width: 20%;
      //.medium({
      //  width: 30%;
      //});

      position: relative;
      select{
        .select-background('../images/icons/Arrow-small.png');
      }
      //&:before {
      //  .input-icon("\f107",@default-pink, 26px);
      //  right: 4px;
      //  top: 15px;
      //  width: 30px;
      //  background: white;
      //  .medium({
      //    top: 9px;
      //  });
      //}
    }

  }

  .bottom-box {

    div {
      display: inline-block;
    }

    .property_type {
      width: 20%;
      margin-right: 4.5%;
      .medium({
        //width: 26%;
        margin-right: 1.5%;
      });
      position: relative;
      select{
        .select-background('../images/icons/Arrow-small.png');
      }
      //&:before {
      //  .input-icon("\f107",@default-pink, 26px);
      //  right: 4px;
      //  top: 15px;
      //  width: 30px;
      //  background: white;
      //  .medium({
      //    top: 9px;
      //  });
      //}
    }

    .bedrooms {
      width: 20%;
      margin-right: 4.5%;
      .medium({
        //width: 30%;
        margin-right: 1.5%;
      });
      position: relative;
      select{
        .select-background('../images/icons/Arrow-small.png');
      }
      //&:before {
      //  .input-icon("\f107",@default-pink, 26px);
      //  right: 4px;
      //  top: 15px;
      //  width: 30px;
      //  background: white;
      //  .medium({
      //    top: 9px;
      //  });
      //}
    }

    .price-block {
      width: 36%;
      margin-right: 4.3%;
      .medium({
        width: 40%;
        //margin-right: 50%;
        //margin-top: 35px;
        //padding-left: 5px;
        margin-right: 1.5%;
      });
      .price-slider {
        width: 64%;
        float: right;
        .price-range {
          width: 100%;
          border: none;
          box-shadow: none;
          background: #9d9e9f;
          height: 1px;
          .ui-slider-range {
            background: @default-pink;
            height: 300%;
          }
          .ui-slider-handle {
            top: -6px;
            border-radius: 50%;
            border: 1px solid @default-pink;
          }
          .ui-state-active {
            background: @default-pink;
          }
        }

        .price-display {
          width: 100%;
          font-size: 13px;
          #min_price_display {
            float: left;
          }
          #max_price_display {
            float: right;
          }
        }
      }

      .label {
        .placeholder;
        .medium({
          .medium-placeholder;
        });
      }

    }

    .submit-button {

      width: 10%;
      .medium({
        width: 14.8%;
      });

      button {
        width: 100%;
        background: @default-pink;
        border: none;
        color: white;
        cursor: pointer;
        padding: 10px 25px 10px 25px !important;
        .large({
          padding: 11px !important;
        });
        .medium({
          font-size:15px;
        })
      }

    }
  }

  .hidden-fields {
    .hidden-selects {
      width: 19%;
      display: inline-block;
      margin-right: 1%;
      select {
        .placeholder;
        .medium({
          .medium-placeholder;
        });
        .select-background('../images/icons/Arrow-small.png');
      }

    }

    .hidden-input {
      width: 19%;
      display: inline-block;

      input {
        .placeholder;
        .medium({
          .medium-placeholder;
        });

        padding: 6px 15px 6px 15px !important;
        background: white;
        background-color: white !important;
        border: 2px solid #fbd4da !important;
      }
    }
  }

  .submit-button {
    button {
      background: @default-pink;
      padding: 13px !important;
      margin-bottom: 10px;
    }
  }
}

/* posts at search page */
.search-posts-wrap {
  img {
    margin: 0 !important;
  }

  .one-post {
    display: inline-block;
    color: black;
    margin-bottom: 5px;
    .medium({
      margin-bottom: 5px;
    });
    .left-block {
      width: 32%;
      float: left;
      position: relative;
      .media(768px, {
        float: none;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        width: 100%;
        line-height: 0;
        img{
          max-width:320px;
        }
      });
      .exclusive {
        .exclusive-style;
      }

      a {
        display: inline-block;
      }
    }

    .right-block {
      width: 65%;
      float: right;
      .media(768px, {
        float: none; width: 100%;
        position: relative;
        text-align: center;
      });
      .block-title {
        float: left;
        width: 100%;
        font-size: 24px;
        margin-bottom: 20px;
        .medium({
          font-size: 18px;
          margin-bottom: 10px;
        });
        .post-name {
          float: left;
          text-transform: uppercase;
          .media(768px, {
            float: none;
            margin-bottom: 10px;
            display: inline-block;
            padding-right: 15px;
          });
          a {
            color: black;
            &:hover {
              color: @default-pink;
            }
          }
        }
        .post-ref {
          display: inline-block;
          margin-left: 50px;
          .media(768px, {
            float: none;
            margin-bottom: 10px;
            display: inline-block;
            margin-left: 0;
          });
        }
        .post-price {
          float: right;
          color: @default-pink;
          .media(768px, {
            float: none;
            margin-bottom: 10px;
            margin-left: 0;
          });
        }


      }

      .description {
        float: left;
        width: 100%;
        font-size: 23px;
        line-height: 30px;
        height: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 45px;
        color: black;
        .media(1750px, {margin-bottom: 18px});

        .medium({
          font-size: 14px;
          margin-bottom: 10px;
        });
        .media(1230px, {line-height: 1.5;});
        .media(992px, {height: auto});
      }

      .info {
        float: left;
        width: 100%;
        font-size: 23px;
        border-top: 1px solid @default-pink;
        border-bottom: 1px solid @default-pink;
        padding: 20px 0;
        margin-bottom: 45px;
        .media(1750px, {margin-bottom: 10px});
        .medium({
          font-size: 16px;
          margin-bottom: 8px;
          padding: 10px 0;
        });

        .left-info {
          float: left;
          .medium({
            margin-top: 5px;
          });
          .media(768px, { float: none; display: inline-block;});
        }

        .right-info {
          float: right;
          .media(768px, { float: none; display: inline-block; padding-left: 10px;});
          div, span {
            display: inline-block;
          }
          .block-icon {
            img {
              margin-bottom: -5px !important;
              margin-right: 10px !important;
            }
            margin-left: 44px;

          }

          .block-quantity {

          }
        }

      }

      .more {
        float: left;
        width: 100%;
        font-size: 23px;
        .medium({
          font-size: 16px;
        });
        .property-type {
          float: left;
          color: @default-pink;
          padding-top: 16px;
          .medium({
            padding-top: 9px;
            float: none;
          });
        }

        .show-post {
          float: right;
          padding: 16px 49px;
          color: white;
          background: @default-pink;
          .media(1750px, { padding: 16px 49px;});
          .medium({
            padding: 8px 45px;
          });
          .media(768px, {
            margin: 8px 0 20px;
            display: inline-block; float: none;
          });
        }

      }

    }

  }

}

/* single post styling */
#single-post-wrap {
  padding-top: 20px;
  border-top: 1px solid @default-pink;
  margin-bottom: 20px;
  display: inline-block;
  .medium({
    padding-top: 16px;
    margin-bottom: 0;
    max-width: 100%;
  });

  .left-column {
    width: 52.5%;
    max-width: 987px;
    .medium({
      width: 57.5%;
    });
    .small({
      max-width: 960px;
      width: 100%;
    });

    float: left;
    display: inline-block;

    .title {
      font-size: 30px;
      float: left;
      width: 100%;
      margin-bottom: 0;
      .medium({
        margin-bottom: 0;
        font-size: 23px;
      });
      .media(479px, {
        font-size: 16px;
      });
      .name {
        float: left;
        color: black;
        text-transform: uppercase;
      }
      .ref-num {
        margin-left: 20px;
        color: black;
        display: inline-block;
        font-size: 22px;
        .media(479px, {
          font-size: 18px;
        });
      }
      .price {
        float: right;
        color: @default-pink;
      }
    }
    .image-wrap {
      position: relative ;
      width: 100%;
      float: left;
      display: inline-block;
      .exclusive {
        .exclusive-style;
        top: 35px;
        z-index: 10;


      }

    }
    .slider {
      float: left;
      //width: 100%;

      .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: 0;
        .owl-arrows() {
          margin: 0;
          padding: 0;
          background: transparent;
          font-size: 100px;
        }

        .owl-prev {
          float: left;
          .owl-arrows;
          margin-left: 5px;
        }

        .owl-next {
          float: right;
          .owl-arrows;
          margin-right: 5px;
        }
      }

      .owl-dots {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        .owl-dot {
          span{
            background: white;
            width: 12px;
            height: 12px;
          }
        }

        .owl-dot.active {
          span{
            background: black;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }

  .right-column {

    width: 45.5%;
    float: right;
    .medium({
      width: 39.5%;
    });
    .small({
      width: 100%;
      max-width: 960px;
    });

    display: inline-block;

    .first-block {
      padding: 27px 0;
      width: 100%;
      text-align: center;
      color: white;
      background: @default-pink;
      font-size: 26px;
      .medium({
        padding: 25px 0;
        font-size: 20px;
      });
    }

    .second-block {
      font-size: 27px;
      text-align: center;
      //text-transform: uppercase;
      color: @default-pink;
      padding-top: 25px;
      padding-bottom: 35px;
      .medium({
        padding-top: 15px;
        padding-bottom: 20px;
        font-size: 20px;
      });
      img {
        margin-bottom: -10px;
      }
    }

    .info {
      div {
        display: inline-block;
      }
      color: black;

      padding: 15px 0 20px 0;
      border-top: 1px solid @default-pink;
      border-bottom: 1px solid @default-pink;
      font-size: 23px;
      .medium({
        padding: 10px 0 15px 0;
        font-size: 16px;
        text-align: center;
      });
      .property-type {
        float: left;
        min-width: 18%;
        color: @default-pink;
        margin-right: 3%;
        .medium({
          padding-top: 5px;
          /*float: none;*/
        });
      }

      .area {
        .medium({
          padding-top: 5px;
        });
      }

      .info-icons {
        float: right;
        margin-top: -3px;
        .medium({
          float: none;
          margin-top: 10px;
        });
        .block-icon {

          margin-left: 30px;
          .large({
            margin-left: 0;
          });
          .medium({
            margin-left: 5px;
          });

          img {
            margin-bottom: -5px;
            padding-right: 10px;
          }
        }
      }
    }

    .description {
      margin-top: 35px;
      margin-bottom: 40px;
      font-size: 23px;
      line-height: 30px;
      color: black;
      p {
        padding: 0 !important;
      }
      .medium({
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 30px;
      });
    }

    .badges {
      font-size: 23px;
      .medium({
        font-size: 18px;
      });
      .badge {
        width: 32%;
        display: inline-block;
        margin-bottom: 35px;
        img {
          margin-right: 10px;
          margin-bottom: 0;
        }
      }
    }
  }

}

/* posts in slider */
.posts-row-slider.owl-carousel.owl-theme {
  color: black;
  .owl-stage-outer {
    .owl-stage {
      .owl-item {
        float: right;
      }
    }
  }
  .owl-stage {
    padding: 0 !important;
  }
  .owl-nav {
    position: absolute;
    top: 38%;
    width: 100%;
    margin: 0;
    .owl-arrows() {
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 100px;
    }

    .owl-prev {
      float: left;
      .owl-arrows;
      margin-left: -30px;
      .media(479px, {
        margin-left: -16px;
      });
    }

    .owl-next {
      float: right;
      .owl-arrows;
      margin-right: -30px;
      .media(479px, {
        margin-right: 4px;
      });
    }
  }
  a {
    color: black !important;
  }

  .post-wrap {
    cursor: pointer;
    transition: 1s;
    display: inline-block;

    .top-box{
      .exclusive {
        .exclusive-style();
        z-index: 55;
      }
      a {
        img {
          width: 100%;
        }
      }
    }
    .bottom-box {
      .name {
        font-size: 20px;
        .medium({
          font-size: 16px;
        })
      }

      .price {
        font-size: 35px;
        margin-top: 15px;
        .medium({
          font-size: 30px;
          margin-top: 10px;
        });
      }
    }
  }


}

header#top .sub-menu {
  //top: 160px !important;
  li {
    text-align: center;
    a {
      background: white !important;
      border: none;

      &:hover {
        background: white !important;
        color: black !important;
      }
    }
  }
}

#copyright {
  display: none;
}
#page-header-wrap {
  display: none;
}

#header-outer {
  transition: 0.3s;
}

#header-space {
  background-color: white;
}

/*changes in container */
@media (max-width: 1750px) {
  .container{
    max-width: 1440px !important;
  }
}

@media (max-width: 1470px) {
  .container{
    max-width: 1200px !important;
  }
}

@media (max-width: 1230px) {
  .container{
    max-width: 960px !important;
  }
}

@media (max-width: 992px) {
  .container{
    max-width: 720px !important;
  }
}

@media (max-width: 768px) {
  .container{
    max-width: 540px !important;
  }
}
#header-outer .menu-item-with-margin {
  margin-right: 479px !important;
  .media(1230px, {
    margin-right: 465px !important;
  });
}
@media screen and (max-width: 1750px)  {
  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a {
    margin-right: 15px;
    margin-left: 0;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll header#top nav > ul > li > a {
    margin-right: 30px !important;
    margin-left: 0;
  }


  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li:last-child > a{
    margin-right: 0;
  }

  #logo img{
    //height: 120px !important;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll .col.span_3 {
    top: auto;
  }

  .col.span_3 {
    top: -3%;
    left: 49%;
  }
}

@media screen and (max-width: 1470px)  {
  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a {
    margin-right: 5px;
    margin-left: 0;
    font-size: 15px;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll header#top nav > ul > li > a {
    margin-right: 30px !important;
    margin-left: 0;
    font-size: 15px;
  }


  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li:last-child > a{
    margin-right: 0;
  }

  #logo img{
    height: 90px !important;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll .col.span_3 {
    top: auto;
  }

  .col.span_3 {
    top: 2%;
    left: 49%;
  }
}

@media screen and (max-width: 1230px)  {
  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a {
    margin-right: 5px;
    margin-left: 0;
    font-size: 12px;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll header#top nav > ul > li > a {
    margin-right: 15px !important;
    margin-left: 0;
    font-size: 12px;
  }
  .menu-item-with-margin {
    margin-right: 470px !important;
  }

  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li:last-child > a{
    margin-right: 0;
  }

  #logo img{
    height: 80px !important;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll .col.span_3 {
    top: auto;
  }

  .col.span_3 {
    top: 15%;
    left: 49% !important;
  }
}

@media screen and (max-width: 1000px)  {
  .col.span_3 {
    display: none;
  }

  header#top .col.span_9 {
    min-height: 50px !important;
    padding: 0;
  }

  #header-outer.header-scroll {
    height: auto !important;
  }
}


/* pagination styling */
.pagination {
  .not_active {
    pointer-events: none;
    cursor: default;
    text-decoration: line-through;
  }
  .pag-active {
    color: grey;
  }

  width: 100%;
  a {
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    .medium({
      padding: 5px;
      font-size: 16px;
    });
  }
  text-align: center;
}

/* characteristics */
.column-width() {
  width: 49.5%;
  display: inline-block;
  font-size: 20px;
  .medium({
    font-size: 16px;
    width: 48.9%;
  })
}
#single-description {
  height: 100%;
  width: 100%;
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  margin-bottom: 10px;
  .description-column {
    float: left;
    width: 33.2%;
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 15px;
    .media(992px, {
      width: 100%;
    });
    .description-heading {
      width: 100%;
      display: inline-block;
      font-size: 25px;
      color: @default-pink;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid @default-pink;
    }

    &:last-child {

    }

    .description-row {
      margin-bottom: 10px;
      .description-name {
        .column-width;
      }
      .description-value {
        text-align: center;
        .column-width;
        font-weight: bold;
      }
    }
  }
}

/* fotter area 2 styling */
.cubic.widget {
  background-image: url("../images/cubic.png");
  background-repeat: no-repeat;
  background-position: top right;
  font-size: 22px;
  float: right;
  line-height: 30px;
  color: black !important;
  padding-top: 75px;
  .media(1470px, { padding-top: 80px; });
  .media(1230px, { padding-top: 63px; font-size: 19px;});
  .media(992px, { padding-top: 46px; font-size: 14px; line-height: 18px;});
  .media(768px, {float: none});
}
#footer-outer a:not(.nectar-button).footer-link {
  color: black !important;
}

#header-outer[data-lhe="animated_underline"] .col.span_3 {
  transition: 0.5s;
}
#logo {
  transition: 0.5s;
}

#advanced-search {
  z-index: -1;
  opacity: 0;
  position: relative;
}

#advanced-search {
  position: fixed;
  top: 115px;
  background: white;
  width: 100%;
  left: 0;
  //transition: 0.5s;
}

#advanced-search.search-scroll {
  z-index: 11;
  opacity: 1;
}
select::-ms-expand {
  display: none;
}

select {
  -ms-appearance: none;
  appearance: none!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 30px;
  .medium({
    line-height: 22px;
  });
}

.exclusive-style() {
  .media(768px, {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  });
  .exclusive-badge {
    background: @default-pink;
    padding: 5px 10px;
    .media(768px, {
      line-height: 1.5;
    });
    div {
      text-transform: uppercase;
      font-family: Avenir;
      color: white;
    }
  }

  .triangle {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #df6577;
    margin-top: -12px;
    left: 0;
    .media(768px, { display: none; });
  }
  position: absolute;
  top: 10px;
  left: -12px;
}

.hidden-selects.switch {

  .large({
    width: 25% !important;
  });
  /*.switch-button-background {
    margin-top: 8px;
    height: 5px !important;
    border: none;
    transition: 1s;
    .switch-button-button {
      height: 16.8px !important;
      width: 16.8px !important;
      top: -7px;
      border-radius: 50%;
      border: 1px solid @default-pink;
    }
  }

  .switch-button-background.checked {
    background: @default-pink;
  }
*/
  .switch-title {
    padding-top: 8px;
    float: left;
    font-size: 22px;
    color: white;
    margin-right: 20px;
  }
  /*.switch-button-label {
    font-size: 22px;
    color: white !important;
    .fa.fa-times {
      color: red;
    }
    .fa.fa-check {
      color: green;
    }
  }*/

}

.switch {
  padding-left: 10px;
}

#search-box, #advanced-search {
  .hidden-selects.switch {
    .switch-title {
      color: black;
    }
  }
}
p {
  max-width: none !important;
}

select:focus{
  outline: none;
}

.wrapper {
  width: auto !important;
}


#slide-out-widget-area .inner .off-canvas-menu-container li a {
  .media(1000px, { font-size: 19px; });
  .media(479px, { font-size: 17px; });
}

//.wpb_row.vc_row-fluid.vc_row.standard_section .col.span_12.dark.left,
//.posts-row-slider.owl-carousel{
//  .media(479px, {
//    padding: 0 15px;
//  });
//}

#footer-widgets .container {
  .media(768px, {
    padding: 0 15px;
  });
  .col{
    .media(768px, {
      margin-bottom: 20px;
    });
  }

  .col.span_6{
    .media(768px, {
      width: 80%;
      margin-left: auto !IMPORTANT;
      margin-right: auto !important;
      display: block;
      float: none;
    });
    &:first-child{
      .media(992px, {
        width: 60%;
      });
      .media(768px, {
        width: 100%;

      });
    }
    &:last-child{
      .media(992px, {
        width: 37%;
      });
      .media(768px, {
        width: 100%;

      });
    }

  }

}

#footer-outer .row{
  .media(768px, {
    padding: 10px 0px;
  });
}
header#top{
  .media(768px, {
    padding: 0px 15px;
  });
}

#background-box-1.full-width-section.standard_section{
  .media(1230px, {
    padding-top: 120px !important;
  });
  .media(768px, {
    padding-top: 66px !important;
  });
}
