/* fonts import */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Aileron-Regular.woff') format('woff');
}

@font-face {
  font-family: 'AvenirBold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Aileron-Bold.woff') format('woff');
}

@font-face {
  font-family: 'AvenirDemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/AvenirNext-DemiBold.woff') format('woff');
}

body {
  font-family: 'Avenir';

}

header {
  font-family: 'AvenirBold';
}

header#top nav > ul > li > a {
  font-size: 17px;
}

header#top nav > ul > li:first-child {
  margin-left: 25%;
}

#header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a {
  margin-right: 50px;
  margin-left: 0;
  color: black;
}

#header-outer[data-lhe="animated_underline"] header#top nav > ul > li:last-child > a {
  margin-right: 0;
}

#header-outer[data-lhe="animated_underline"] header#top nav > ul > li {
  vertical-align: bottom;
}

header#top nav > ul > li > a {
  padding-top: 82px !important;
  padding-bottom: 0 !important;
}

#header-outer {
  padding-top: 20px !important;
  height: 135px;
}

header .col.span_9.col_last {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* -----------------------------------------custom styling----------------------------------------------------------- */

@image-text-size: 22px;
@bold-font: 'AvenirBold';
@default-pink: #f27184;

/* full size input */
.full-size-input {
  width: 100%;
  margin: 0;
}

/* input icon styling */
.input-icon(@icon, @color, @font-size) {
  font-family: FontAwesome;
  content: @icon;
  font-size: @font-size;
  position: absolute;
  color: @color;
}

/* mobile version */
.mobile(@rules) {
  @media (max-width: 768px) { @rules();
  }
}

/* large screen version */
.large(@rules) {
  @media (max-width: 1750px) { @rules();
  }
}

/* medium screen version */
.medium (@rules) {
  @media (max-width: 1470px) { @rules();
  }
}

/* small screen version */
.small (@rules) {
  @media (max-width: 1230px) { @rules();
  }
}

.media(@size, @rules) {
  @media (max-width: @size) {
    @rules();
  }
}

/* title block style */
.box-title-wrap {
  padding-bottom: 7px !important;
  font-size: @image-text-size;
  margin-bottom: 12px !important;
  .medium({ font-size: 18px; margin-bottom: 26px !important; });
  .media(479px,{ padding-left: 15px; padding-right: 15px; });
  color: black;
  border-bottom: 2px solid @default-pink;

  .box-title {
    padding-bottom: 14px;
    p {
      display: inline-block;
      float: left;
      padding-bottom: 0 !important;
      .medium({ padding-bottom: 0 !important; });
    }
  }

  .see-more {
    float: right;
    width: auto;
    span {
      color: grey;
      margin-right: 10px;
    }
    img {
      margin-bottom: -7px !important;
      .medium({ height: 25px; });
    }
  }
}

/*style to images text*/
.image-text-styles() {
  font-size: @image-text-size;
  line-height: 38px;
  max-width: 1035px;
}

.medium-image-text-styles() {
  font-size: 20px;
}

/* make blocks float right */
.image-right-block() {
  width: 100%;
  float: right;
}

/* price block */
.visible-price() {
  background: rgba(236, 231, 231, 0.5);
  border-radius: 4px;
  padding: 2px;
}

/* background image for selects */
.select-background(@url) {
  background-image: url(@url);
  background-position: 95% center;
  background-repeat: no-repeat;
}

/* box heading */
.box-heading() {
  font-size: 42px;
}

.medium-box-heading() {
  font-size: 44px;
}

.placeholder() {
  font-size: 22px !important;
  /*color: #7a7979;*/
  color: black;
  border-radius: 0;
  font-family: Avenir;
}

.medium-placeholder() {
  font-size: 18px !important;
  border-radius: 0;
}

/* first background block */
#gestion {
  //height: 645px;
  .wpb_text_column {
    margin-bottom: 20px;
  }
  div {
    display: block;
  }
  p {
    padding-bottom: 0;
    .media(768px, { text-align: center !important; });
    .media(479px, { padding: 0 15px !important; });

  }
  .vc_column-inner {
    max-width: 50%;
    float: right;
    .media(1230px, { max-width: 78%; });
    .media(768px, { max-width: 100%; });
  }
  .heading {
    .box-heading;
    .medium({ .medium-box-heading; line-height: 1.1; });
    .media(768px, { font-size: 29px; });
  }

  .sub-heading {
    font-size: 28px;
    margin-bottom: 25px;
    .medium({ font-size: 26px; margin-bottom: 25px; });
    .media(768px, { font-size: 21px; });
    .media(479px, { font-size: 20px; });
  }
  .text {
    .image-text-styles;
    //.image-right-block;
    margin-bottom: 38px;
    .medium({ .medium-image-text-styles; margin-bottom: 32px; });
    .media(992px, { font-size: 17px; line-height: 1.5; margin-bottom: 11px; });
    .media(479px, { font-size: 16px; });
  }

  .sub-ending {
    .image-text-styles;
    //.image-right-block;
    margin-bottom: 30px;
    .medium({ .medium-image-text-styles; margin-bottom: 28px; });

    .media(992px, { font-size: 21px; margin-bottom: 5px; });

  }

  .ending {
    //.image-right-block;
    .image-text-styles;
    margin-bottom: 0;
    .medium({ .medium-image-text-styles; });
    .media(992px, { font-size: 17px; line-height: 1.5; margin-bottom: 11px; });

  }
}

#estimation {
  //margin-top: 20px;
  .media(768px, { padding-top: 60px !important; padding-bottom: 60px !important; });
  .media(479px, { /*width: 100% !important;
    padding: 60px 15px !important;
    margin-left: 0 !IMPORTANT;
    box-sizing: border-box !important;*/ });
  .wpb_text_column.heading {
    margin-bottom: 20px;
  }
  .wpb_text_column.wpb_content_element.text {
    margin-bottom: 0 !important;
  }

  div {
    display: block;
  }
  p {
    padding-bottom: 0;
  }

  .heading {
    .box-heading;
    .medium({ .medium-box-heading; });

    .media(1000px, { line-height: 1.2; font-size: 35px; });
    .media(479px, { font-size: 30px; });
  }

  .text {
    .image-text-styles;
    max-width: 100%;
    margin-bottom: 0;
    .medium({ .medium-image-text-styles; margin-bottom: 32px; });
    .media(1000px, { line-height: 1.3; });
  }
}

/* box with 3 info columns */
#valeurs {
  padding-top: 40px !important;
  .info-column {
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 160px !important;
    font-family: @bold-font;
    .media(1700px, { padding-top: 172px !important; });
    .media(1470px, { background-size: 50%; });

    &:first-child {
      .media(1470px, { background-size: 41%; });
      .media(1000px, { background-size: auto; });
    }
    &:nth-child(2) {
      .media(1470px, { background-size: 47%; });
      .media(1000px, { background-size: auto; });
    }

    .media(1230px, { padding-top: 142px !important; });

    .media(1000px, { background-size: auto; padding-top: 182px !important; background-position: top center; margin-bottom: 35px; });

    .column-title {
      font-size: 26px;
      font-family: Avenir;
      margin-bottom: 26px;
      .medium({ font-size: 18px; });
    }

    .column-text {
      font-size: 21px;
      font-family: Avenir;
      line-height: 27px;
      margin-bottom: 25px;
      .medium({ font-size: 16px; margin-bottom: 6px; });

    }
  }
}

/* block with conference people */
#a-propos-de-nous {
  //margin-bottom: 20px;
  margin-bottom: 0 !important;

  .heading {
    .box-heading;
    margin-bottom: 40px;
    .medium({ .medium-box-heading; margin-bottom: 45px; });

    .media(1000px, { line-height: 1.2; margin-bottom: 17px; });

  }

  .text {
    .image-text-styles;
    .medium({ .medium-image-text-styles; });
    .media(1000px, { font-size: 17px; line-height: 1.5; });
  }

  .media(1470px, { padding-top: 200px !important; });

  @media (max-width: 1470px) and (min-width: 1231px) {
    margin-bottom: 25px;
    padding: 300px 168px 80px !important;
  }

  @media (max-width: 1230px) and (min-width: 1065px) {
    padding-right: 197px !important;
  }
  .media(480px, {
    padding-top: 300px !important;
  });
}

#team {
  /*.media(479px,{
    margin-left: 0 !important;
    width: 100% !important;
  });*/
  .col.span_12.dark.left {
    .media(1000px, { text-align: center; });
  }
  .img-with-aniamtion-wrap {

    .inner {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        background: rgba(63, 63, 63, 0.35);
      }

    }

  }

  .col.span_12 {
    .media(479px, { padding: 0px; });
  }

  .vc_col-sm-12.wpb_column {
    .media(660px, { margin-bottom: 20px !important; });
  }
  .team-column {
    margin: 0;
    width: 33%;
    margin-top: -65px;
    height: 100% !important;
    .media(1000px, { width: 166px !important; display: inline-block; float: none; margin-top: -58px; vertical-align: top; });

    .media(660px, { margin-top: 2px !important; width: 100% !important; .wpb_wrapper {
      display: table;
      width: 94%;
      border-collapse: separate;
      border-spacing: 2px;
      margin-left: auto;
      margin-right: auto;
      .wpb_content_element {
        display: table-cell;
        vertical-align: middle;
        padding: 7px;
        border: 1px solid #f27184;
        &:first-child {
          background: #f27184;
          width: 38%;
        }

      }
    } });

  }

  .member-name {
    width: 330px;
    height: 65px;
    margin: 0 auto;
    font-size: 28px;
    color: white;
    padding-top: 25px;
    background-color: @default-pink;
    .medium ({ width: 325px; font-size: 28px; });
    .media(1230px, { width: 284px; });
    .media(1000px, { width: auto; padding-top: 20px; height: 58px; });
    .media(660px, { padding-top: 0; height: auto; background-color: transparent; font-size: 18px; });
  }

  .member-info {
    padding-top: 35px;
    font-size: 20px;
    color: black;
    .media(1000px, { padding-top: 13px; font-size: 17px; padding-left: 5px; padding-right: 5px; });
  }
  margin-bottom: 60px;
}

/* contact form */
.contact-form {
  float: right;
  height: 100%;
  .media(690px, { margin-left: -10px; margin-right: -10px; });
  .form {
    padding: 40px 55px 10px 40px;
    .medium({ padding: 30px 37.5px 15px 30px; });

    background-color: @default-pink;
    position: relative;
    .control {
      width: 500px;
      .medium({ width: 470px; });
      .media(1000px, { width: 410px });
      .media(767px, { width: 100% });
      margin-bottom: 30px;
      input {
        background: white;
        background-color: white !important;
        border: none !important;
        width: 100%;
        padding: 20px 15px !important;
        .medium({ padding: 15px 10px !important; });
        .placeholder;
        font-size: 20px !important;
        .medium({ .medium-placeholder; });
        .media(479px, { font-size: 15px !important; });
      }

      input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        .placeholder;
        font-size: 20px !important;
        .medium({ .medium-placeholder; });
        .media(479px, { font-size: 15px !important; });

      }
      input::-moz-placeholder { /* Firefox 19+ */
        .placeholder;
        font-size: 20px !important;
        .medium({ .medium-placeholder; });
        .media(479px, { font-size: 15px !important; });
      }
      input:-ms-input-placeholder { /* IE 10+ */
        .placeholder;
        font-size: 20px !important;
        .medium({ .medium-placeholder; });
        .media(479px, { font-size: 15px !important; });
      }
      input:-moz-placeholder { /* Firefox 18- */
        .placeholder;
        font-size: 20px !important;
        .medium({ .medium-placeholder; });
        .media(479px, { font-size: 15px !important; });
      }
    }

    .error-block {
      color: white;
      font-size: 25px;
      max-width: 500px;
      margin-top: -15px;
      line-height: 1.3;
      margin-bottom: 10px;
      .media(1000px, { font-size: 20px !important; });
      .media(767px, { font-size: 15px !important; });
    }

    margin-bottom: 25px;
  }

  .submit-button {
    button {
      height: 70px;
      width: 100%;
      font-size: 23px;
      background-color: @default-pink;
      .medium({ height: 70px; font-size: 22px; });
      &hover {
        background: @default-pink !important;
      }
    }
  }

}

/* map styling */
#contact {
  /*.media(479px,{
    margin-left: 0 !important;
    width: 100% !important;
  });*/

  .nectar-google-map {
    height: 620px !important;
    .medium({ height: 565px !important; });
    .media(768px, { clear: both; })
  }
  margin-bottom: 26px;
  #map-top-block {
    position: absolute;
    top: 0;
    right: 140px;
    max-width: 404px;
    display: block;
    background: white;
    z-index: 2;
    padding: 20px 94px 5px 90px !important;
    .medium({ padding: 30px 65px 15px 65px !important; });
    .media(1230px, { width: 320px; });
    .media(1000px, { padding: 20px 63px 10px 65px !important; right: 85px; });
    .media(767px, { width: 278px; padding: 25px 30px 10px 30px !important; });
    .media(690px, { position: static; margin-bottom: 25px !important; width: 50% !important; float: left; });
    .media(479px, { width: 100% !important; margin-bottom: 5px !important; background: #f27184; * {
      color: #fff !important;
    } });
    .text-column {
      p {
        padding: 0;
        font-size: @image-text-size;
        margin-bottom: 10px;
        color: black;
        @media (max-width: 1230px) {
          font-size: 19px;
        }
        @media (max-width: 1000px) {
          margin-bottom: 2px;
        }
        .media(767px, { font-size: 17px; });
      }
      margin-bottom: 20px;
      .medium({ margin-bottom: 12px; })
    }
  }
  .map-marker-list {
    margin: 0;
  }
  #map-bottom-block {
    max-width: 404px;
    position: absolute;
    bottom: 0;
    right: 140px;
    display: block;
    background: white;
    z-index: 2;
    padding: 35px 63px 0 63px !important;
    .medium({ padding: 30px 34.5px 0 34.5px !important; });
    .media(1230px, { width: 320px; });
    .media(1000px, { padding: 19px 20.5px 0 20.5px !important; right: 85px; });
    .media(767px, { width: 278px; padding: 25px 30px 10px 30px !important; });
    .media(690px, { position: static; margin-bottom: 25px !important; width: 50% !important; float: right; });
    .media(479px, { width: 100% !important; });
    color: black;

    .row-bg-wrap:after {
      .media(660px, { border-top: 1px solid #f27184; border-bottom: 1px solid #f27184; });
    }

    .telephone {
      font-size: @image-text-size !important;
      p {
        padding: 0;
        margin-bottom: 40px;
        font-size: @image-text-size !important;
        .medium({ margin-bottom: 15px; });
        .media(1000px, { margin-bottom: 6px; font-size: 19px !important; });
        .media(767px, { font-size: 17px !important; });

      }
    }

    .address {
      p {
        padding: 0;
        margin-bottom: 15px;
        font-size: @image-text-size !important;
        .media(1230px, { font-size: 19px !important; });
        .media(767px, { font-size: 17px !important; });
      }
      font-size: @image-text-size !important;
      margin-bottom: 50px;
      .medium({ margin-bottom: 20px; });

    }

  }
}

.cover {
  position: relative;
  .wrapper {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 11111;
  }

  #map.single-page {
    margin-left: 0 !important;
    margin-bottom: 20px !important;
    .medium({ height: 420px !important; margin-bottom: 15px !important; });
  }
}

#house {

  .row-bg-wrap {
    .row-bg {
      .media(690px, { background: white; background-image: none !important; });
    }
  }
  .contact-form .contact-form {
    @media (max-width: 991px) and (min-width: 930px) {
      position: relative;
      right: -50px;
    }
  }
  .contact-form {
    .media(767px, { float: none; });
  }
}

/* posts styling */
.posts-row {
  color: black;
  text-align: justify;

  a {
    color: black !important;
  }

  .post-wrap {
    display: inline-block;
    width: 31.8%;
    margin-left: 2%;
    .medium({ width: 31.5%; });
    .small({ margin-left: 2%; });

    .media(768px, { width: 100%; padding: 0 20%; margin-right: 0; margin-left: 0 !important; margin-bottom: 30px; });

    .media(500px, { padding: 0 10%; });

    cursor: pointer;
    transition: 0.5s;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    &:hover {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }
    .top-box {
      a {
        img {
          width: 100%;
          .medium({ margin-bottom: 0px; });
        }
      }
    }
    .bottom-box {
      .name {
        a {
          max-height: 24px;
          //font-family: AvenirDemiBold;
          overflow: hidden;
          display: block;
          text-overflow: ellipsis;
          width: 100%;
          text-transform: uppercase;
          white-space: nowrap;
        }
        font-size: 20px;
        .medium({ font-size: 16px; });
      }

      .price {
        font-size: 34px;
        margin-top: 20px;
        .medium({ font-size: 30px; margin-top: 10px; });
        .media(479px, { font-size: 25px; });
      }
    }
  }

  .post-wrap:first-child {
    margin-left: 0;
  }

}

/* search box styling */
.search-wrap-style() {
  font-family: Avenir;
  margin-top: 140px;
  .media(992px, { margin-top: 70px !important; });
  .media(768px, { margin-top: 45px; });
  .media(479px, { padding: 0 15px; });

  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    .placeholder;
    .medium({ .medium-placeholder; });
  }
  input::-moz-placeholder { /* Firefox 19+ */
    .placeholder;
    .medium({ .medium-placeholder; });
  }
  input:-ms-input-placeholder { /* IE 10+ */
    .placeholder;
    .medium({ .medium-placeholder; });
  }
  input:-moz-placeholder { /* Firefox 18- */
    .placeholder;
    .medium({ .medium-placeholder; });
  }
  .top-box-wrap {
    margin-bottom: 15px;

    .bottom-box {
      width: 28%;
      display: inline-block;
      .media(992px, { width: 38%; });
      .media(768px, { width: 100%; });
      select {
        .placeholder;
        .medium({ .medium-placeholder; });
        .select-background('../images/icons/Arrow1-big.png');
      }
    }

    .top-box {
      margin-right: 1.6%;
      position: relative;
      display: inline-block;
      width: 70%;
      .media(992px, { width: 60%; });
      .media(768px, { width: 100%; margin-right: 0; margin-bottom: 15px; });
      &:before {
        .input-icon("\f002", @default-pink, 26px);
        right: 25px;
        top: 15px;
        .medium({ top: 10px; right: 10px; })
      }
      input {
        padding: 12px 30px !important;
        background-color: white !important;
        border: none !important;
        .placeholder;
        .medium({ .medium-placeholder; });
      }
    }
  }

  .search-button.hidden-search-button {
    width: 10%;
    .media(1230px, { width: 15%; });
    .media(992px, { width: 18%; margin-top: 35px; });
    .media(768px, { width: 42%; margin-top: 15px; margin-left: auto !important; margin-right: auto !important; display: block; margin-bottom: 10px; });
    button {
      text-transform: lowercase;
      padding: 10px !important;
    }
  }
  .bottom-box {
    input, select, option, div {
      display: inline-block;
      width: 100%;
    }
    .jq-selectbox__trigger-arrow {
      width: auto;
    }
    select {
      padding: 10px 30px 10px 28px !important;
      .small({ padding: 10px 30px 10px 28px !important; });

    }
    .search-button {
      width: 13%;
      .large({ width: 13%; });
      .small({ width: 15%; });
      .media(768px, { width: 42%; margin-left: auto !important; margin-right: auto !important; display: block; });
    }

    .post-type {
      width: 24%;

      .small({ width: 45%; });

      position: relative;
      select {
        .placeholder;
        .medium({ .medium-placeholder; });
        .select-background('../images/icons/Arrow1-big.png');
      }

      .mobile({ .full-size-input; });
      margin-right: 4.9%;
      .small({ margin-right: 9.7%; margin-bottom: 15px; });
      .media(992px, { margin-right: 9.6%; });
    }

    .number-of-bedrooms {
      width: 24%;
      .small({ width: 45%; });

      position: relative;

      select {
        .placeholder;
        .medium({ .medium-placeholder; });

        .select-background('../images/icons/Arrow1-big.png');
      }

      .mobile({ .full-size-input; });
      margin-right: 4.9%;
      .large({ margin-right: 4.8%; });
      .medium({ margin-right: 4.7%; });

      .small({ margin-right: 0; margin-bottom: 15px; });
    }

    .budget {
      width: 24%;
      .small({ width: 45%; });
      input {
        .placeholder;
        .medium({ .medium-placeholder; });
        border: none !important;
        background-color: white !important;
        padding: 10px 25px 10px 30px !important;
      }
      .mobile({ .full-size-input; });
      margin-right: 4.6%;
      .small({ margin-right: 24.7%; });
    }
    .price-block {
      width: 24%;
      margin-right: 4.6%;
      .mobile({ .full-size-input; });
      .media(1230px, { width: 79%; margin-left: 10px; });
      .media(992px, { width: 78.6%; margin-left: 10px; });
      .media(768px, { width: 96.6%; margin-left: 10px; });
      .media(479px, { width: 95.6%; });
      .price-slider {
        width: 100%;
        float: right;
        //color: white;
        .price-range {
          width: 100%;
          border: none;
          box-shadow: none;
          background: #9d9e9f;
          height: 1px;
          .ui-slider-range {
            background: @default-pink;
            height: 300%;
          }
          .ui-slider-handle {
            top: -6px;
            border-radius: 50%;
            border: 1px solid @default-pink;
          }
          .ui-state-active {
            background: @default-pink;
          }
        }

        .price-display {
          width: 100%;
          font-size: 13px;
          #min_price_display {
            float: left;
          }
          #max_price_display {
            float: right;
          }
        }
      }
      .inputs {
        width: 0 !important;
      }
      .label {
        .placeholder;
        .medium({ .medium-placeholder; });
      }

    }

  }

  .search-button {
    margin-top: 10px;
    width: 13%;

    .small({ width: 30%; });
    button {
      .placeholder;
      .medium({ .medium-placeholder; });
      .media(768px, { font-size: 15px !important; });
      cursor: pointer;
      border: none;
      width: 100%;
      color: white;
      background: @default-pink;
      padding: 13px !important;
      .medium({ padding: 12px !important; })
    }
    .mobile({ .full-size-input; })
  }

  .hidden-fields {
    .hidden-selects {
      width: 19%;
      .media(992px, { width: 49.5%; });
      .media(768px, { margin-top: 15px; width: 100%; });
      display: inline-block;
      margin-right: 1%;
      select {
        padding: 12px 30px 12px 28px !important;
        .placeholder;
        .medium({ .medium-placeholder; });
        .select-background('../images/icons/Arrow1-big.png');
      }

    }

    .hidden-input {
      width: 19%;
      .small({ width: 21%; });
      .media(992px, { width: 49.1%; });
      .media(768px, { width: 100%; margin-top: 15px; });
      display: inline-block;

      input {
        .placeholder;
        .medium({ .medium-placeholder; });
        padding: 12px 30px 12px 28px !important;
        border: none !important;
        background: white;
        background-color: white !important;
      }
    }
  }
}

#search-box {
  height: 470px;
  .row-bg-wrap {
    .row-bg {
      background-position: center bottom !important;
    }
  }
  .medium({ height: 480px; });
  .media(768px, { height: auto; });
  margin-bottom: 15px;
  .search-wrap {
    .search-wrap-style;
    #max_price_display {
      .visible-price;
      color: black;
    }
    #min_price_display {
      .visible-price;
      color: black;
    }
  }
}
#advanced-search-1 {
  height: 470px;
  display: none;
}

#search-box-1.active {
  z-index: 11;
  .row-bg-wrap {
    .row-bg {
      background: white;
      background-image: none !important;
    }
  }
  .search-wrap {
    margin-top: 0;
  }
  max-width: 1720px;
  width: 100%;
  height: auto;
  padding-bottom: 10px !important;
  position: fixed;
  top: 135px;
  background: white;
  background-image: none !important;
  .search-wrap .top-box-wrap .bottom-box select,
  .search-wrap .bottom-box .post-type select,
  .search-wrap .top-box-wrap .top-box input,
  .search-wrap .hidden-fields .hidden-selects select,
  .search-wrap .hidden-fields .hidden-input input,
  .search-wrap .bottom-box .number-of-bedrooms select {
    border: 2px solid #fbd4da !important;
    box-shadow: none !important;
    padding: 5px 10px 5px 10px !important;
    .placeholder;
    .medium({ padding: 4px 10px 4px 10px !important; .medium-placeholder; });
  }
  .search-wrap .search-button button {
    padding: 10px !important;
  }
  .search-wrap .search-button.hidden-search-button button {
    padding: 8px !important;
  }
  .search-wrap .bottom-box .price-block .label {
    color: black;
  }
  .search-wrap .bottom-box .price-block {
    color: black;
  }
  #min_price_display, #max_price_display {
    color: black;
  }
  .hidden-selects.switch .switch-title {
    color: black;
  }

  .search-wrap .top-box-wrap .top-box:before {
    right: 14px;
    top: 9px;
  }
}
#search-box-1.active-mobile {
  top: 70px;
  height: 375px;
  overflow-y: auto;
  overflow-x: hidden;
  .search-wrap {
    margin-top: 5px !important;
  }
}
/* header outer */
#header-outer ul.sub-menu {
  top: 116px !important;
  left: -10px !important;
}

#header-outer {
  .span_3 {
    bottom: 0;
  }
}

#header-outer.header-scroll {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  height: 115px !important;
  ul.sub-menu {
    top: 97px !important;
  }

  .span_3 {
    left: 0 !important;
  }
  .menu-item-with-margin {
    margin: 0 !important;
  }
  .container {
    .row {
      nav {
        .sf-menu.sf-js-enabled.sf-arrows {
          text-align: center !important;
        }
        ul:not(.sub-menu) > li > a {
          margin-right: 85px !important;
        }
      }
    }
  }

  #logo img {
    height: 80px !important;
    transform: none !important;
    -webkit-transform: none !important;
  }

  #logo {
    overflow: hidden;
    width: 110px;
  }

  ul:not(.sub-menu) > li.menu-item > a {
    padding-top: 65px !important;
  }

}

/* search box on search page */
#search-box-1 {
  height: 470px;
  margin-bottom: 25px;
  .row-bg-wrap {
    .row-bg {
      background-position: center bottom !important;
      .media(1000px,{
        background-position: 17%!important;
      });
    }
  }
  .medium({ margin-bottom: 30px; });
  .media(768px, { height: auto; });
  padding-top: 10px !important;
  .search-wrap {
    .search-wrap-style;
    .medium({ margin-top: 130px; });

    .bottom-box {
      .price-block {
        color: white;
        .label {
          color: white;
        }
      }
    }
  }
}

#search-for-mobile-version {
  z-index: 12;
}

#search-box-mobile {
  position: fixed;
  right: 16px;
  top: 70px;
  z-index: 12;
  &:before {
    z-index: 12;
    font-size: 20px;
    cursor: pointer;
    content: '\f002';
    font-family: FontAwesome;
  }
}

#search-box-mobile.active {
  &:before {
    content: '\f00d';
  }
}

/* advanced search */
/*#advanced-search {

  .hidden-search-button.submit-button {
    .media(1000px,{
      text-align: center;
      margin-top: 10px;
    });
    button{
      .media(1000px,{
        width: 35%;
      });
      color: white !important;
      border: none;
      box-shadow: none;
      text-transform: lowercase;
      padding: 8px !important;
      cursor: pointer;
    }
  }
  padding-top: 25px !important;
  input::-webkit-input-placeholder { !* Chrome/Opera/Safari *!
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }
  input::-moz-placeholder { !* Firefox 19+ *!
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }
  input:-ms-input-placeholder { !* IE 10+ *!
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }
  input:-moz-placeholder { !* Firefox 18- *!
    .placeholder;
    .medium({
      .medium-placeholder;
    });
  }

  select, input {
    border: 2px solid #fbd4da !important;
    box-shadow: none !important;
    padding: 5px 10px 5px 10px !important;
    .placeholder;
    .medium({
      padding: 4px 10px 4px 10px !important;
      .medium-placeholder;
    });
  }
  .top-box {
    margin-bottom: 35px;
    .media(1000px, {
      margin-bottom: 0;
    });
    div {
      display: inline-block;
    }

    .location {
      width: 75%;
      margin-right: 4.7%;
      .medium({
        width: 77%;
        margin-right: 2.7%;
      });
      .media(1000px, {
        width: 100%;
      });
      position: relative;

      input {
        padding: 5px 30px 5px 12px !important;
        .medium({
          padding: 6px 30px 6px 12px !important;
        });
        .small({
          padding: 5px 30px 5px 12px !important;
        });
      }
      &:before {
        .input-icon("\f002",@default-pink, 26px);
        right: 15px;
        top: 9px;
        .medium({
          top: 7px;
        });
      }
    }

    .bathrooms {
      width: 20%;
      .media(1000px, {
        width: 100%;
        margin-top: 10px;
      });
      position: relative;
      select{
        .select-background('../images/icons/Arrow-small.png');
      }
    }

  }

  .bottom-box {

    div {
      display: inline-block;
    }

    .property_type {
      width: 20%;
      margin-right: 4.5%;
      .medium({
        margin-right: 1.5%;
      });
      .media(1000px, {
        width: 100%;
        margin-top: 10px;
        margin-right: 0;
      });
      position: relative;

      select{
        .small({
          font-size: 16px !important;
        });
        .select-background('../images/icons/Arrow-small.png');
      }
    }

    .bedrooms {
      width: 20%;
      margin-right: 4.5%;
      .medium({
        margin-right: 1.5%;
      });
      .media(1000px, {
        width: 100%;
        margin-top: 10px;
        margin-right: 0;
      });
      position: relative;
      select{
        .small({
          font-size: 16px !important;
        });
        .select-background('../images/icons/Arrow-small.png');
      }
    }

    .price-block {
      width: 36%;
      margin-right: 4.3%;
      .medium({
        width: 40%;
        margin-right: 1.5%;
      });
      .media(1000px, {
        width: 100%;
        margin-top: 10px;
      });
      .price-slider {
        width: 64%;
        .media(768px,{
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
        });
        float: right;
        .price-range {
          width: 100%;
          border: none;
          box-shadow: none;
          background: #9d9e9f;
          height: 1px;
          .ui-slider-range {
            background: @default-pink;
            height: 300%;
          }
          .ui-slider-handle {
            top: -6px;
            border-radius: 50%;
            border: 1px solid @default-pink;
          }
          .ui-state-active {
            background: @default-pink;
          }
        }

        .price-display {
          width: 100%;
          font-size: 13px;
          #min_price_display {
            float: left;
          }
          #max_price_display {
            float: right;
          }
        }
      }

      .label {
        .placeholder;
        .medium({
          .medium-placeholder;
        });
        .small({
          font-size: 16px !important;
        });
        .media(768px,{
          width: 100%;
        });
      }

    }

    .submit-button {

      width: 10%;
      .medium({
        width: 14.8%;
      });
      .small({
        width:13.8%;
      });
      .media(1000px,{
        width: 100%;
        text-align: center;
      });
      button {
        width: 100%;
        .media(1000px,{
          width: 35%;
          text-align: center;
        });
        background: @default-pink;
        border: none;
        color: white;
        cursor: pointer;
        padding: 10px 25px 10px 25px !important;
        .large({
          padding: 11px !important;
        });
        .medium({
          font-size:15px;
        })
      }

    }
  }

  .hidden-fields {
    .hidden-selects {
      width: 19%;
      display: inline-block;
      margin-right: 1%;
      .media(1000px, {
        width: 100%;
        margin-top: 10px;
        margin-right: 0;
      });
      select {
        .placeholder;
        .medium({
          .medium-placeholder;
        });
        .select-background('../images/icons/Arrow-small.png');
      }

    }

    .hidden-input {
      width: 19%;
      display: inline-block;
      .media(1000px, {
        width: 100%;
        margin-top: 10px;
        margin-right: 0;
      });
      input {
        .placeholder;
        .medium({
          .medium-placeholder;
        });

        padding: 6px 15px 6px 15px !important;
        background: white;
        background-color: white !important;
        border: 2px solid #fbd4da !important;
      }
    }
  }

  .submit-button {
    button {
      background: @default-pink;
      padding: 13px !important;
      margin-bottom: 10px;
    }
  }
}*/

/* posts at search page */
.search-posts-wrap {
  img {
    margin: 0 !important;
  }

  .one-post {
    width: 100%;
    display: inline-block;
    color: black;
    margin-bottom: 5px;
    .medium({ margin-bottom: 5px; });
    .left-block {
      width: 32%;
      float: left;
      position: relative;
      .media(768px, { float: none; margin-bottom: 20px; position: relative; text-align: center; width: 100%; line-height: 0; img {
        max-width: 100%;
      } });

      a {
        position: relative;
        //overflow: auto;
        .exclusive {
          .exclusive-style;
        }
        display: block;
        img {
          height: auto !important;
          width: auto !important;

        }
      }
    }

    .right-block {
      width: 65%;
      float: right;
      .media(768px, { float: none; width: 100%; position: relative; text-align: center; });
      .block-title {
        float: left;
        width: 100%;
        font-size: 24px;
        margin-bottom: 20px;
        .medium({ font-size: 18px; margin-bottom: 10px; });
        .post-name {
          float: left;
          white-space: nowrap;
          max-width: 50%;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
          .media(768px, { width: 100%; max-width: 100%; float: none; margin-bottom: 10px; display: inline-block; });
          a {
            color: black;
            &:hover {
              color: @default-pink;
            }
          }
        }
        .post-ref {
          display: inline-block;
          margin-left: 50px;
          .media(768px, { float: none; margin-bottom: 10px; display: inline-block; margin-left: 0; });
        }
        .post-price {
          float: right;
          color: @default-pink;
          .media(768px, { float: none; margin-bottom: 10px; margin-left: 0; });
        }

      }

      .description {
        float: left;
        width: 100%;
        font-size: 23px;
        line-height: 30px;
        height: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 45px;
        color: black;
        .media(1750px, { margin-bottom: 18px });

        .medium({ font-size: 14px; margin-bottom: 10px; });
        .media(1230px, { line-height: 1.5; });
        .media(992px, { height: auto });
      }

      .info {
        float: left;
        width: 100%;
        font-size: 23px;
        border-top: 1px solid @default-pink;
        border-bottom: 1px solid @default-pink;
        padding: 20px 0;
        margin-bottom: 45px;
        .media(1750px, { margin-bottom: 10px });
        .medium({ font-size: 16px; margin-bottom: 8px; padding: 10px 0; });

        .left-info {
          float: left;
          .medium({ margin-top: 5px; });
          .media(768px, { float: none; width: 100%; margin-bottom: 10px; });
        }

        .right-info {
          float: right;
          .media(768px, { float: none; display: inline-block; padding-left: 10px; });
          div, span {
            display: inline-block;
          }
          .block-icon {
            img {
              margin-bottom: -5px !important;
              margin-right: 10px !important;
            }
            margin-left: 44px;
            .media(768px, { margin-left: 5px; margin-right: 5px; })
          }

          .block-quantity {

          }
        }

      }

      .more {
        float: left;
        width: 100%;
        font-size: 23px;
        .medium({ font-size: 16px; });
        .property-type {
          float: left;
          color: @default-pink;
          padding-top: 16px;
          .medium({ padding-top: 9px; float: none; });
        }

        .show-post {
          float: right;
          padding: 16px 49px;
          color: white;
          background: @default-pink;
          .media(1750px, { padding: 16px 49px; });
          .medium({ padding: 8px 45px; });
          .media(768px, { margin: 8px 0 20px; display: inline-block; float: none; });
        }

      }

    }

  }

}

/* single post styling */
#single-post-wrap {
  padding-top: 20px;
  border-top: 1px solid @default-pink;
  margin-bottom: 20px;
  display: inline-block;
  .medium({ padding-top: 16px; margin-bottom: 0; max-width: 100%; });

  .left-column {
    width: 52.5%;
    max-width: 987px;
    .medium({ width: 57.5%; });
    .small({ max-width: 960px; width: 100%; });

    float: left;
    display: inline-block;

    .title {
      font-size: 30px;
      float: left;
      width: 100%;
      margin-bottom: 0;
      .medium({ margin-bottom: 0; font-size: 23px; });
      .media(479px, { font-size: 16px; });
      .name {
        line-height: 34px;
        max-height: 70px;
        margin-bottom: 5px;
        overflow: hidden;
        float: left;
        color: black;
        text-transform: uppercase;
        .media(768px, { float: none; text-align: center; });
      }
      .ref-num {
        margin-left: 20px;
        color: black;
        display: inline-block;
        font-size: 22px;
        .media(479px, { font-size: 18px; });
        .media(768px, { float: none; text-align: center; display: block; margin-left: 0; margin-top: 10px; });
      }
      .price {
        float: right;
        color: @default-pink;
        .media(768px, { float: none; text-align: center; margin-left: 0; margin-top: 10px; });
      }
    }
    .image-wrap {
      position: relative;
      width: 100%;
      float: left;
      display: inline-block;
      .exclusive {
        .exclusive-style;
        top: 35px;
        z-index: 10;

      }

    }
    .slider {
      float: left;
      //width: 100%;

      .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: 0;
        .owl-arrows() {
          margin: 0;
          padding: 0;
          background: transparent;
          font-size: 100px;
        }

        .owl-prev {
          float: left;
          .owl-arrows;
          margin-left: 5px;
        }

        .owl-next {
          float: right;
          .owl-arrows;
          margin-right: 5px;
        }
      }

      .owl-dots {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        .owl-dot {
          span {
            background: white;
            width: 12px;
            height: 12px;
          }
        }

        .owl-dot.active {
          span {
            background: black;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }

  .right-column {

    width: 45.5%;
    float: right;
    .medium({ width: 39.5%; });
    .small({ width: 100%; max-width: 960px; });

    display: inline-block;

    .first-block {
      padding: 20px;
      width: 100%;
      text-align: center;
      color: white;
      background: @default-pink;
      margin: 0 auto;
      font-size: 22px;
      /*.medium({
        padding: 25px 0;
        font-size: 20px;
      });
      .media(450px, {
        padding: 10px 0;
      });*/
    }

    .second-block {
      font-size: 22px;
      text-align: center;
      //text-transform: uppercase;
      color: @default-pink;
      padding-top: 25px;
      padding-bottom: 35px;
      .medium({ padding-top: 15px; padding-bottom: 20px; font-size: 20px; });
      img {
        margin-bottom: -10px;
        padding-left: 5px;
      }
    }

    .info {
      div {
        display: inline-block;
      }
      color: black;

      padding: 0 0 20px 0;
      //border-top: 1px solid @default-pink;
      border-bottom: 1px solid @default-pink;
      font-size: 23px;
      .medium({ padding: 10px 0 15px 0; font-size: 16px; text-align: center; });
      .property-type {
        //float: left;
        min-width: 18%;
        color: @default-pink;
        margin-right: 3%;
        .medium({ padding-top: 5px; /*float: none;*/ });
      }

      .area {
        .medium({ padding-top: 5px; });
      }

      .info-icons {
        float: right;
        margin-top: -3px;
        .medium({ float: none; margin-top: 10px; });
        .block-icon {

          margin-left: 30px;
          .large({ margin-left: 0; });
          .medium({ margin-left: 5px; });

          img {
            margin-bottom: -5px;
            padding-right: 10px;
          }
        }
      }
    }

    .description {
      margin-top: 35px;
      margin-bottom: 40px;
      font-size: 23px;
      line-height: 30px;
      color: black;
      p {
        padding: 0 !important;
      }
      .medium({ font-size: 16px; margin-top: 25px; margin-bottom: 30px; });
    }

    .badges {
      font-size: 23px;
      .medium({ font-size: 18px; });
      .badge {
        color: black;
        width: 32%;
        display: inline-block;
        margin-bottom: 35px;
        .media(768px, { width: 100%; margin-bottom: 15px; });
        img {
          margin-right: 10px;
          margin-bottom: 0;
        }
      }
    }
  }

}

#logo-right {
  position: absolute;
  right: 0;
  bottom: 0;
  img {
    height: 60px;
    display: block;
  }
  .media(1000px, { display: none; });
}

#footer-logo {
  height: 80px;
}

/* posts in slider */
.posts-row-slider.owl-carousel.owl-theme {
  color: black;
  .owl-stage-outer {
    .owl-stage {
      .owl-item {
        float: right;
      }
    }
  }
  .owl-stage {
    padding: 0 !important;
  }
  .owl-nav {
    position: absolute;
    top: 38%;
    width: 100%;
    margin: 0;
    .owl-arrows() {
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 100px;
    }

    .owl-prev {
      float: left;
      .owl-arrows;
      margin-left: -30px;
      .media(599px, { margin-left: 0; });
    }

    .owl-next {
      float: right;
      .owl-arrows;
      margin-right: -30px;
      .media(599px, { margin-right: 0; });
    }
  }
  a {
    color: black !important;
  }

  .post-wrap {
    cursor: pointer;
    transition: 1s;
    display: inline-block;

    .top-box {
      .exclusive {
        .exclusive-style();
        z-index: 55;
      }
      a {
        img {
          width: 100%;
        }
      }
    }
    .bottom-box {
      .name {
        font-size: 20px;
        a {
          max-height: 24px;
          overflow: hidden;

          display: block;
          text-overflow: ellipsis;
          width: 100%;
          white-space: nowrap;
        }
        .medium({ font-size: 16px; })
      }

      .price {
        font-size: 35px;
        margin-top: 15px;
        .medium({ font-size: 30px; margin-top: 10px; });
      }
    }
  }

}

header#top .sub-menu {
  //top: 160px !important;
  li {
    text-align: center;
    a {
      background: white !important;
      border: none;

      &:hover {
        background: white !important;
        color: black !important;
      }
    }
  }
}

#copyright {
  display: none;
}

#page-header-wrap {
  display: none;
}

#header-outer {
  transition: 0.3s;
}

#header-space {
  background-color: white;
}

/*changes in container */
@media (max-width: 1750px) {
  .container, #search-box-1.active {
    max-width: 1440px !important;
  }
}

@media (max-width: 1470px) {
  .container, #search-box-1.active {
    max-width: 1200px !important;
  }
}

@media (max-width: 1230px) {
  .container, #search-box-1.active {
    max-width: 960px !important;
  }
}

@media (max-width: 992px) {
  .container, #search-box-1.active {
    max-width: 720px !important;
  }
}

@media (max-width: 768px) {
  body .container, #search-box-1.active {
    max-width: 540px !important;
  }
}

@media (max-width: 570px) {
  body .container, #search-box-1.active {
    max-width: 510px !important;
  }
}

@media (max-width: 530px) {
  body .container, #search-box-1.active {
    max-width: 490px !important;
  }
}

@media (max-width: 510px) {
  body .container, #search-box-1.active {
    max-width: 470px !important;
  }
}

@media (max-width: 490px) {
  body .container, #search-box-1.active {
    max-width: 450px !important;
  }
}

@media (max-width: 470px) {
  body .container, #search-box-1.active {
    max-width: 430px !important;
  }
}

@media (max-width: 450px) {
  body .container, #search-box-1.active {
    max-width: 410px !important;
  }
}

@media (max-width: 430px) {
  body .container, #search-box-1.active {
    max-width: 390px !important;
  }
}

@media (max-width: 410px) {
  body .container, #search-box-1.active {
    max-width: 360px !important;
  }
}

@media (max-width: 390px) {
  body .container, #search-box-1.active {
    max-width: 340px !important;
  }
}

@media (max-width: 360px) {
  body .container, #search-box-1.active {
    max-width: 330px !important;
  }
}

@media (max-width: 340px) {
  body .container, #search-box-1.active {
    max-width: 310px !important;
  }
}

@media (max-width: 320px) {
  body .container, #search-box-1.active {
    max-width: 280px !important;
  }
}

#header-outer .menu-item-with-margin {
  margin-right: 479px !important;
  .media(1230px, { margin-right: 465px !important; });
}

#header-outer[data-format="centered-menu"] header#top nav > ul.buttons, #header-outer[data-format="centered-menu"] header#top .span_3 {
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 1750px) {
  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a {
    margin-right: 30px;
    margin-left: 0;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll header#top nav > ul > li > a {
    margin-right: 30px !important;
    margin-left: 0;
  }

  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li:last-child > a {
    margin-right: 0;
  }

  #logo img {
    height: 76px !important;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll .col.span_3 {
    top: auto;
  }

  /*.col.span_3 {
    top: -3%;
    left: 49%;
  }*/
}

@media screen and (max-width: 1470px) {
  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a {
    margin-right: 30px;
    margin-left: 0;
    font-size: 15px;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll header#top nav > ul > li > a {
    margin-right: 30px !important;
    margin-left: 0;
    font-size: 15px;
  }

  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li:last-child > a {
    margin-right: 0;
  }

  #logo img {
    height: 60px !important;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll .col.span_3 {
    top: auto;
  }

  /*.col.span_3 {
    top: 2%;
    left: 49%;
  }*/
}

@media screen and (max-width: 1230px) {
  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a {
    margin-right: 30px;
    margin-left: 0;
    font-size: 12px;
  }

  header#top nav > ul > li:first-child {
    margin-left: 15%;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll header#top nav > ul > li > a {
    margin-right: 15px !important;
    margin-left: 0;
    font-size: 12px;
  }

  .menu-item-with-margin {
    margin-right: 470px !important;
  }

  #header-outer[data-lhe="animated_underline"] header#top nav > ul > li:last-child > a {
    margin-right: 0;
  }

  #logo img {
    height: 45px !important;
  }

  #header-outer[data-lhe="animated_underline"].header-scroll .col.span_3 {
    top: auto;
  }

  /*.col.span_3 {
    top: 15%;
    left: 49% !important;
  }*/
}

@media screen and (max-width: 1000px) {
  #header-outer .col.span_3 #logo img{
    height: 60px !important;
  }
  #header-outer .col.span_3 #logo {
    margin-top: -17px !important;
  }

  header#top .col.span_9 {
    min-height: 50px !important;
    padding: 0;
  }

  #header-outer.header-scroll {
    height: auto !important;
  }
}

/* pagination styling */
.pagination {
  .not_active {
    pointer-events: none;
    cursor: default;
    text-decoration: line-through;
  }
  .pag-active {
    color: grey;
  }

  width: 100%;
  a {
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    .medium({ padding: 5px; font-size: 16px; });
  }
  text-align: center;
}

/* characteristics */
.column-width() {
  width: 49.5%;
  display: inline-block;
  font-size: 20px;
  .medium({ font-size: 16px; width: 48.9%; })
}

#single-description {
  height: 100%;
  width: 100%;
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  margin-bottom: 10px;
  .description-column {
    float: left;
    width: 33.2%;
    display: inline-block;
    padding: 0 15px;

    margin-bottom: 15px;
    .media(992px, { width: 100%; padding: 0; });
    .description-heading {
      width: 100%;
      display: inline-block;
      font-size: 25px;
      color: @default-pink;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid @default-pink;
    }

    &:last-child {

    }

    .description-row {
      margin-bottom: 10px;
      .description-name {
        vertical-align: top;
        .column-width;
        color: black;
      }
      .description-value {
        vertical-align: top;
        text-align: center;
        .column-width;
        font-weight: bold;
        color: black;
      }
    }
  }
}

/* fotter area 2 styling */
.cubic.widget {
  /*background-image: url("../images/cubic.png");
  background-repeat: no-repeat;
  background-position: top right;*/
  font-size: 20px;
  float: right;
  line-height: 25px;
  margin-bottom: 0 !important;
  color: black !important;
  //padding-top: 20px;
  //.media(1470px, { padding-top: 80px; });
  .media(1230px, { /*padding-top: 63px;*/ font-size: 19px; });
  .media(992px, { /*padding-top: 46px;*/ font-size: 14px; line-height: 18px; });
  .media(768px, { float: none });
}

#footer-outer a:not(.nectar-button).footer-link {
  color: black !important;
}

#header-outer[data-lhe="animated_underline"] .col.span_3 {
  transition: 0.5s;
}

#logo {
  transition: 0.5s;
}

#advanced-search {
  z-index: -1;
  //opacity: 1;
  position: relative;
}

#advanced-search {
  position: fixed;
  top: 135px;
  .media(1000px, { top: -100%; overflow-y: auto; overflow-x: hidden; max-height: calc(~"100vh - 70px"); });
  background: white;
  width: 100%;
  left: 0;

  //transition: 1s;
  //transition: 0.5s;
}

#advanced-search.active-mobile {
  top: 70px;
  display: block;
  z-index: 11;
  transition: 0.5s;
  //opacity: 1;
}

#advanced-search.search-scroll {
  z-index: 11;
  opacity: 1;
}

select::-ms-expand {
  display: none;
}

select {
  -ms-appearance: none;
  appearance: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 30px;
  .medium({ line-height: 22px; });
}

.exclusive-style() {
  /*.media(768px, {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  });*/
  .exclusive-badge {
    background: @default-pink;
    padding: 5px 10px;
    .media(768px, { line-height: 1.5; });
    div {
      text-transform: uppercase;
      font-family: Avenir;
      color: white;
    }
  }

  .triangle {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #df6577;
    margin-top: -12px;
    left: 0;
    //.media(768px, { display: none; });
  }
  position: absolute;
  top: 10px;
  left: -12px;
}

.hidden-selects.switch {

  .large({ width: 25% !important; });
  .small({ width: 28% !important; });
  .media(992px, { width: 48% !important; margin-top: 10px; });

  .switch-title {
    padding-top: 8px;
    float: left;
    font-size: 22px;
    color: white;
    margin-right: 20px;
    .small({ font-size: 18px; });
    .media(768px, { font-size: 16px !important; });
  }
}

.switch {
  padding-left: 10px;
}

#search-box, #advanced-search {
  .hidden-selects.switch {
    .switch-title {
      color: black;
    }
  }
}

p {
  max-width: none !important;
}

select:focus {
  outline: none;
}

.wrapper {
  width: auto !important;
}

#slide-out-widget-area .inner .off-canvas-menu-container li a {
  .media(1000px, { font-size: 19px; });
  .media(479px, { font-size: 17px; });
}

//.wpb_row.vc_row-fluid.vc_row.standard_section .col.span_12.dark.left,
//.posts-row-slider.owl-carousel{
//  .media(479px, {
//    padding: 0 15px;
//  });
//}

#footer-widgets .container {
  .media(768px, { padding: 0 15px; });
  .col {
    .media(768px, { margin-bottom: 20px; });
  }

  .col.span_6 {
    .media(768px, { width: 80%; margin-left: auto !IMPORTANT; margin-right: auto !important; display: block; float: none; });
    &:first-child {
      .media(992px, { width: 60%; });
      .media(768px, { width: 100%; });
    }
    &:last-child {
      .media(992px, { width: 37%; });
      .media(768px, { width: 100%; });
    }

  }

}

#footer-outer .row {
  padding: 20px 0px;
  .media(768px, { padding: 10px 0px; });
}

header#top {
  .media(768px, { padding: 0px 15px; });
}

#background-box-1.full-width-section.standard_section {
  .media(1230px, { padding-top: 120px !important; });
  .media(768px, { padding-top: 66px !important; });
}

/* modal style */
.footer-contact-modal,
.footer-contact-modal .modal-in {
  display: none;
  position: fixed;
}

.footer-contact-modal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 43, 43, 0.9);
  z-index: 20;
}

.footer-contact-modal .close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  border: none;
  .media(768px, { height: 15px; width: 15px; });
}

.footer-contact-modal .close:focus {
  outline: none;
}

.footer-contact-modal .close:hover:after,
.footer-contact-modal .close:hover:before {
  background: #f27184;
}

.footer-contact-modal .close:before,
.footer-contact-modal .close:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  transform: rotate(45deg);
}

.footer-contact-modal .close:before {
  left: 50%;
  width: 4%;
  margin-left: -2%;
  height: 100%;
  top: 0;
}

.footer-contact-modal .close:after {
  top: 50%;
  height: 4%;
  margin-top: -2%;
  width: 100%;
  left: 0;
}

.footer-contact-modal .modal-in {
  width: 33.333%;
  top: 50%;
  //transform: translateY(-50%);
  left: 33.3333%;
  background: transparent;
  z-index: 2;
}

.footer-contact-modal .modal-in h1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  padding: 40px 0;
}

.footer-contact-modal .modal-in input[type='submit'] {
  display: block;
  margin: auto;
  width: 200px;
  padding: 15px 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  background: #f27184;
  border: none !important;
}

.footer-contact-modal .modal-in input, .footer-contact-modal .modal-in textarea {
  border: 1px solid white !important;
  color: white;
}

.footer-contact-modal .modal-in input:focus, .footer-contact-modal .modal-in textarea:focus {
  border: 1px solid #f27184 !important;
  color: #f27184;
}

#acces-nav + .sep,
#traitements-nav + .sep {
  margin-top: 0;
}

.footer-modal-block {
  text-align: center;
  margin-top: 20px;
}

.footer-modal-block > h2 {
  font-size: 16px;
  padding: 10px 0;
  font-weight: bold;
}

.footer-modal-block > h1 {
  font-size: 40px;
  padding: 20px 0;
}

.footer-contact-modal {
  overflow: auto;
  min-height: 100vh;
  .modal-in {
    .media(1000px, { width: 70%; left: 15%; height: 100%; });
    top: 0 !important;
    position: absolute !important;
    h1 {
      font-size: 20px !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
  p {
    input.wpcf7-submit {
      font-size: 14px !important;
      padding: 7px 0 !important;
    }
    .media(1000px, { padding-bottom: 8px !important; });
    label {
      .media(1000px, { font-size: 12px !important; });
      span.wpcf7-form-control-wrap {
        input {
          .media(1000px, { padding: 5px !important; font-size: 12px !important; });
        }
        textarea {
          .media(1000px, { padding: 5px !important; font-size: 12px !important; height: 100px; });
        }
      }
    }
  }
}

.footer-modal-block > h1 > span {
  font-size: 40px;
  color: #008fc0;
}

.modal-in {
  font-size: 20px !important;
}

.modal-in label {
  padding-bottom: 10px;
  color: white !important;
}

#trigger-modal {
  cursor: pointer;
}

.pluso-more {
  display: none !important;
}

.pluso-counter {
  display: none;
}

.pluso {
  margin-bottom: 10px;
}

#shareBtn {
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  float: right;
  width: 100px;
  height: 30px;
  padding: 0 5px 5px 12px;
  color: white;
  background: @default-pink;
  i {
    font-size: 15px;
    margin-right: 5px;
  }
}

.red-text {
  color: @default-pink !important;
}

.container-wrap {
  padding-bottom: 0;
}

.gm-style-iw {
  text-align: center;
  h3 {
    margin-bottom: 0 !important;
  }
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

/*instagram comment */
#instagram-feed {
  display: none;
}

#team + .box-title-wrap {
  display: none;
}