/*.footer-contact-modal,*/
/*.footer-contact-modal .modal-in {*/
    /*display: none;*/
    /*position: fixed;*/
/*}*/

/*.footer-contact-modal {*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(43, 43, 43, 0.9);*/
    /*z-index: 20;*/
/*}*/

/*.footer-contact-modal .close {*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*top: 20px;*/
    /*background: transparent;*/
    /*border: none;*/
/*}*/

/*.footer-contact-modal .close:focus {*/
    /*outline: none;*/
/*}*/

/*.footer-contact-modal .close:hover:after,*/
/*.footer-contact-modal .close:hover:before {*/
    /*background: #f27184;*/
/*}*/

/*.footer-contact-modal .close:before,*/
/*.footer-contact-modal .close:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*z-index: -1;*/
    /*background: #fff;*/
    /*transform: rotate(45deg);*/
/*}*/

/*.footer-contact-modal .close:before {*/
    /*left: 50%;*/
    /*width: 4%;*/
    /*margin-left: -2%;*/
    /*height: 100%;*/
    /*top: 0;*/
/*}*/

/*.footer-contact-modal .close:after {*/
    /*top: 50%;*/
    /*height: 4%;*/
    /*margin-top: -2%;*/
    /*width: 100%;*/
    /*left: 0;*/
/*}*/

/*.footer-contact-modal .modal-in {*/
    /*width: 33.333%;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*left: 33.3333%;*/
    /*background: transparent;*/
    /*z-index: 2;*/
/*}*/

/*.footer-contact-modal .modal-in h1 {*/
    /*color: #fff;*/
    /*font-size: 40px;*/
    /*text-align: center;*/
    /*padding: 40px 0;*/
/*}*/


/*.footer-contact-modal .modal-in input[type='submit'] {*/
    /*display: block;*/
    /*margin: auto;*/
    /*width: 200px;*/
    /*padding: 15px 0;*/
    /*font-size: 18px;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /*background: #f27184;*/
    /*border: none !important;*/
/*}*/
/*.footer-contact-modal .modal-in input, .footer-contact-modal .modal-in textarea {*/
    /*border: 1px solid white !important;*/
    /*color: white;*/
/*}*/
/*.footer-contact-modal .modal-in input:focus, .footer-contact-modal .modal-in textarea:focus {*/
    /*border: 1px solid #f27184 !important;*/
    /*color: #f27184;*/
/*}*/

/*#acces-nav + .sep,*/
/*#traitements-nav + .sep {*/
    /*margin-top: 0;*/
/*}*/

/*.footer-modal-block {*/
    /*text-align: center;*/
    /*margin-top: 20px;*/
/*}*/

/*.footer-modal-block > h2 {*/
    /*font-size: 16px;*/
    /*padding: 10px 0;*/
    /*font-weight: bold;*/
/*}*/

/*.footer-modal-block > h1 {*/
    /*font-size: 40px;*/
    /*padding: 20px 0;*/
/*}*/

/*.footer-modal-block > h1 > span {*/
    /*font-size: 40px;*/
    /*color: #008fc0;*/
/*}*/

/*.modal-in {*/
    /*font-size: 20px !important;*/
/*}*/
/*.modal-in label {*/
    /*padding-bottom: 10px;*/
    /*color: white !important;*/
/*}*/

/*#trigger-modal {*/
    /*cursor: pointer;*/
/*}*/